<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8"> 
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/web/css")
    @Styles.Render("~/Content/dataviz/css")
    @Styles.Render("~/Content/shared/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo-dataviz")
    @Scripts.Render("~/bundles/demo")

    @RenderSection("HeadContent", false)
</head>
<body>
    <div class="page">
        @Html.Partial("~/Views/Shared/_Navigation.cshtml")
        <div id="example" class="k-content">
            @RenderBody()
        </div>
        @Html.Partial("~/Views/Shared/_Source.cshtml")
    </div>
</body>
</html>
