@{    
    Layout = "~/Areas/razor/Views/Shared/_MobileLayout.cshtml";
}

@(Html.Kendo().MobileView()
        .Name("tabstrip-profile")
        .Layout("mobile-tabstrip")
        .Title("Profile")
        .Content(obj =>
            Html.Kendo().MobileListView().Style("inset").Type("group")
               .Items(root =>
               {
                   root.Add().Text("Profile").Items(items =>
                   {
                       items.Add().Content(
                        @<text>
				            <h2>Carine <span>Callahan</span></h2><img src="@Url.Content("~/content/mobile/overview/carine.jpg")" />
				            </text>);

                       items.Add().Content(
                       @<text>
				            Weekly average sales <span class="sales-up">$ 8,250</span>
				            </text>);

                       items.Add().Content(
                       @<text>
				            Monthly average sales <span class="sales-up">$ 32,000</span>
				            </text>);
                   });

                   root.Add().Text("Languages").Items(items =>
                   {
                       items.Add().Content(
                        @<text>
				            English <span class="value">Native</span>
				            </text>);

                       items.Add().Content(
                       @<text>
				            Hungarian <span class="value">Advanced</span>
				            </text>);

                       items.Add().Content(
                       @<text>
				            French <span class="value">Advanced</span>
				            </text>);

                       items.Add().Content(
                       @<text>
				            Chinese <span class="value">Beginner</span>
				            </text>);
                   });

                   root.Add().Text("Sales commodity").Items(items =>
                   {
                       items.Add().Text("Beverages");
                       items.Add().Text("Condiments");
                       items.Add().Text("Confections");
                       items.Add().Text("Diary Products");
                       items.Add().Text("Grains/Cereals");
                       items.Add().Text("Meat/Poultry");
                       items.Add().Text("Produce");
                       items.Add().Text("Seafood");
                   });

                   root.Add().Text("PC Skills").Items(items =>
                   {
                       items.Add().Text("MS Word");
                       items.Add().Text("MS Excel");
                       items.Add().Text("MS Outlook");
                       items.Add().Text("MS PowerPoint");
                       items.Add().Text("MS Project");
                       items.Add().Text("Meat/Poultry");
                       items.Add().Text("Windows (XP, Vista)");
                       items.Add().Text("Internet");
                       items.Add().Text("SAP - Sales and Marketing Module");
                       items.Add().Text("MS Visual Studio");
                       items.Add().Text("Adobe Acrobat");
                       items.Add().Text("CorelDraw");
                   });
               })
        )
)
 
@(Html.Kendo().MobileView()
        .Name("tabstrip-sales")
        .Layout("mobile-tabstrip")
        .Title("Sales History")
        .Content(obj =>
            Html.Kendo().MobileListView().Style("inset").Type("group")
           .Items(root =>
           {
               root.Add().Text("Sales 2011").Items(items =>
               {
                   items.Add().Content(
                    @<text>
				        January <span class="sales-up">&uarr; $ 35,000</span>
			        </text>);

                   items.Add().Content(
                   @<text>
				        February <span class="sales-down">&darr; $ 25,000</span>
			        </text>);

                   items.Add().Content(
                   @<text>
				        March <span class="sales-down">&darr; $ 23,000</span>
			        </text>);

                   items.Add().Content(
                   @<text>   
				        April <span class="sales-up">&uarr; $ 30,000</span>                             
			        </text>);

                   items.Add().Content(
                   @<text>     
				        May <span class="sales-up">&uarr; $ 31,000</span>                           
			        </text>);

                   items.Add().Content(
                   @<text>   
				        June <span class="sales-down">&darr; $ 29,000</span>                             
			        </text>);

                   items.Add().Content(
                   @<text>    
				        July <span class="sales-up">&uarr; $ 35,000</span>                            
			        </text>);

                   items.Add().Content(
                   @<text>     
				        August <span class="sales-up">&uarr; $ 37,000</span>                           
			        </text>);

                   items.Add().Content(
                   @<text>  
				        September <span class="sales-hold">&rarr; $ 37,000</span>                              
			        </text>);

                   items.Add().Content(
                   @<text>    
				        October <span class="sales-hold">&rarr; $ 37,000</span>                            
			        </text>);

                   items.Add().Content(
                  @<text>  
				        November <span class="sales-up">&uarr; $ 38,000</span>                              
			        </text>);

                   items.Add().Content(
                  @<text>      
				        December <span class="sales-up">&uarr; $ 40,000</span>                          
			        </text>);
               });
           })
        )
)

@(Html.Kendo().MobileView()
        .Name("tabstrip-rating")
        .Layout("mobile-tabstrip")
        .Title("Rating")
        .Content(
            @<text>
            @(Html.Kendo().MobileListView().Style("inset").Type("group")
                   .Items(root =>
                   {
                       root.Add().Text("Sales Representatives").Items(items =>
                       {
                           items.Add().Text("1. Andrew Fuller").Icon("toprated");
                           items.Add().Text("2. Janet Leverling").Icon("toprated");
                           items.Add().Text("3. Carine Callahan").Icon("toprated").HtmlAttributes(new { style = "background-color: #3589e7; color: #fff;" });
                           items.Add().Text("4. Margaret Johnson").Icon("toprated");
                           items.Add().Text("5. Steve Collins").Icon("toprated");
                           items.Add().Text("6. Maria Steward").Icon("toprated");
                       });
                   })
            )
        </text>)
)

@(Html.Kendo().MobileView()
        .Name("tabstrip-settings")
        .Layout("mobile-tabstrip")
        .Title("Settings")
        .Content(obj =>             
            Html.Kendo().MobileListView().Style("inset").Type("group")
                   .Items(root =>
                   {
                       root.Add().Text("Carine Callahan").Items(items =>
                       {
                           items.Add().Content(
                               @<text>
                                Notify when online
                                @Html.Kendo().MobileSwitch().Checked(true)
                                </text>
                           );

                           items.Add().Content(
                               @<text>
                                Administrator
                                @Html.Kendo().MobileSwitch()
                                </text>
                           );

                           items.Add().Content(
                                @<text>
                                Access to stats
                                @Html.Kendo().MobileSwitch().Checked(true)
                                </text>
                            );
                       });
                   })
        )
)

@(Html.Kendo().MobileLayout()
    .Name("mobile-tabstrip")
    .Header(obj => NavBarTemplate(this))
    .Footer(
        @<text>
        @(Html.Kendo().MobileTabStrip()
                .Items(items =>
                {
                    items.Add().Icon("contacts").Text("Profile").Url("#tabstrip-profile");
                    items.Add().Icon("history").Text("Sales").Url("#tabstrip-sales");
                    items.Add().Icon("favorites").Text("Rating").Url("#tabstrip-rating");
                    items.Add().Icon("settings").Text("Settings").Url("#tabstrip-settings");
                })
        )
        </text>)
)

@helper NavBarTemplate(WebViewPage page)
    {    
    @(Html.Kendo().MobileNavBar()
        .Content(navbar =>
            @<text>
                @navbar.ViewTitle("")                                
                @(Html.Kendo().MobileBackButton()
                    .Align(MobileButtonAlign.Left)
                    .HtmlAttributes(new { @class = "nav-button" })
                    .Url(Url.RouteUrl(new { controller = "suite" }))
                    .Text("Back"))              
            </text>)
    )    
}

<style scoped>
    #tabstrip-profile h2 {
        display: inline-block;
        font-size: 1.1em;
        margin: 1.5em 0 0 1em;
    }
    #tabstrip-profile h2 span {
        display: block;
        clear: both;
        font-size: 2em;
        margin: .2em 0 0 0;
    }
    #tabstrip-profile img {
        width: 5em;
        height: 5em;
        float: left;
        margin: 1em;
        -webkit-box-shadow: 0 1px 3px #333;
        box-shadow: 0 1px 3px #333;
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }
    .sales-down,
    .sales-hold,
    .sales-up,
    .value {
        float: right;
    }
    .sales-up { color: green; }
    .sales-down { color: red; }
    .sales-hold { color: blue; }
    .value { color: #bbb; }
</style>