@{    
    Layout = "~/Areas/razor/Views/Shared/_MobileLayout.cshtml";
}

@(Html.Kendo().MobileView()
        .Name("buttongroup-home")
        .Title("Sales Report")
        .Content(
            @<text>
                <div class="head">&nbsp;</div>
                @(Html.Kendo().MobileButtonGroup()
                        .Name("select-period")
                        .Items(items =>
                        {
                            items.Add().Text("Month");
                            items.Add().Text("Quarter");
                            items.Add().Text("Year");
                        })
                        .Index(0)
                        .Events(events => events.Select("onSelect"))
                )
                
                @ListViewHelper(this)

            </text>)
)

@helper ListViewHelper(WebViewPage page)
{
                @(Html.Kendo().MobileListView().Style("inset")
                    .Items(items =>
                    {
                        items.Add().Content(@<text>
                            January <span class="sales-up">&uarr; $ 35,000</span></text>);
                        items.Add().Content(@<text>
                            February <span class="sales-down">&darr; $ 25,000</span></text>);
                        items.Add().Content(@<text>
                            March <span class="sales-down">&darr; $ 23,000</span></text>);
                        items.Add().Content(@<text>
                            April <span class="sales-up">&uarr; $ 30,000</span></text>);
                        items.Add().Content(@<text>
                            May <span class="sales-up">&uarr; $ 31,000</span></text>);
                        items.Add().Content(@<text>
                            June <span class="sales-down">&darr; $ 29,000</span></text>);
                        items.Add().Content(@<text>
                            July <span class="sales-up">&uarr; $ 35,000</span></text>);
                        items.Add().Content(@<text>
                            August <span class="sales-up">&uarr; $ 37,000</span></text>);
                        items.Add().Content(@<text>
                            September <span class="sales-hold">&rarr; $ 37,000</span></text>);
                        items.Add().Content(@<text>
                            October <span class="sales-hold">&rarr; $ 37,000</span></text>);
                        items.Add().Content(@<text>
                            November <span class="sales-up">&uarr; $ 38,000</span></text>);
                        items.Add().Content(@<text>
                            December <span class="sales-up">&uarr; $ 40,000</span></text>);
                    })
            )
            @(Html.Kendo().MobileListView().Style("inset")
                    .HtmlAttributes(new { style = "display:none" })
                    .Items(items =>
                    {
                        items.Add().Content(@<text>
                            1st Quarter <span class="sales-up">&uarr; $ 83,000</span></text>);
                        items.Add().Content(@<text>
                            2nd Quarter <span class="sales-up">&uarr; $ 90,000</span></text>);
                        items.Add().Content(@<text>
                            3rd Quarter <span class="sales-up">&uarr; $ 109,000</span></text>);
                        items.Add().Content(@<text>
                            4th Quarter <span class="sales-up">&uarr; $ 115,000</span></text>);
                    })
            )
            @(Html.Kendo().MobileListView().Style("inset")
                    .HtmlAttributes(new { style = "display:none" })
                    .Items(items =>
                    {
                        items.Add().Content(@<text>
                            2009 <span class="sales-up">&uarr; $ 120,000</span></text>);
                        items.Add().Content(@<text>
                            2010 <span class="sales-down">&darr; $ 109,000</span></text>);
                        items.Add().Content(@<text>
                            2011 <span class="sales-hold">&rarr; $ 109,000</span></text>);
                    })
            )
}
<script>
    function onSelect() {
        var listviews = this.view().element.find("ul.km-listview");

        listviews.hide()
            .eq(this.selectedIndex)
            .show();
    }
</script>

<style scoped>
    #buttongroup-home .head {
	    display: block;
        margin: 1em;
	    height: 110px;
	    background: url(@Url.Content("~/content/mobile/shared/sales.jpg")) no-repeat center center;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }
    .km-ios .head,
    .km-blackberry .head {
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    #select-period {
        margin: 1em auto .4em auto;
    }
    #buttongroup-home .km-list span {
	    float: right;
    }
    #buttongroup-home .sales-up {
	    color: green;
    }
    #buttongroup-home .sales-down {
	    color: red;
    }
    #buttongroup-home .sales-hold {
	    color: blue;
    }
</style>