<div id="example" class="k-content">
    <div id="wrapper">
        @(Html.Kendo().Slider<int>()
              .Name("slider")
              .IncreaseButtonTitle("Right")
              .DecreaseButtonTitle("Left")
              .Min(-10)
              .Max(10)
              .SmallStep(2)
              .LargeStep(1)
              .HtmlAttributes(new { @class = "balSlider" })
        )
        <input id="slider" class="balSlider" />
        <div id="equalizer">
            @(Html.Kendo().Slider<int>()
                    .Name("eqSlider1")
                    .Orientation(SliderOrientation.Vertical)
                    .Min(-20)
                    .Max(20)
                    .SmallStep(1)
                    .LargeStep(20)
                    .ShowButtons(false)
                    .Value(10)
                    .HtmlAttributes(new { @class = "balSlider" }))

            @(Html.Kendo().Slider<int>()
                    .Name("eqSlider2")
                    .Orientation(SliderOrientation.Vertical)
                    .Min(-20)
                    .Max(20)
                    .SmallStep(1)
                    .LargeStep(20)
                    .ShowButtons(false)
                    .Value(5)
                    .HtmlAttributes(new { @class = "eqSlider" }))

            @(Html.Kendo().Slider<int>()
                    .Name("eqSlider3")
                    .Orientation(SliderOrientation.Vertical)
                    .Min(-20)
                    .Max(20)
                    .SmallStep(1)
                    .LargeStep(20)
                    .ShowButtons(false)
                    .Value(0)
                    .HtmlAttributes(new { @class = "eqSlider" }))

            @(Html.Kendo().Slider<int>()
                    .Name("eqSlider4")
                    .Orientation(SliderOrientation.Vertical)
                    .Min(-20)
                    .Max(20)
                    .SmallStep(1)
                    .LargeStep(20)
                    .ShowButtons(false)
                    .Value(10)
                    .HtmlAttributes(new { @class = "eqSlider" ))

            @(Html.Kendo().Slider<int>()
                    .Name("eqSlider5")
                    .Orientation(SliderOrientation.Vertical)
                    .Min(-20)
                    .Max(20)
                    .SmallStep(1)
                    .LargeStep(20)
                    .ShowButtons(false)
                    .Value(15)
                    .HtmlAttributes(new { @class = "eqSlider" }))
        </div>
    </div>
</div>
