<div data-role="view" id="buttongroup-navbar" data-init="initNameSource">
    <header data-role="header">
        <div data-role="navbar">
            <ul data-role="buttongroup" data-index="0" data-select="regroup">
                <li>
                    By Name
                </li>
                <li>
                    By Family Name
                </li>
            </ul>
        </div>
    </header>
    <ul data-role="listview" data-type="group" data-source="nameSource" data-template="nameTemplate" data-fixed-headers="true">
    </ul>
</div>


<script>
    nameSource = kendo.data.DataSource.create({
        data: [
                  { firstName: "Ann", lastName: "Devon", firstLetter: "A", lastLetter: "D", photo: '@Url.Content("~/content/mobilethemebuilder/images/ann.jpg")' },
                  { firstName: "Annette", lastName: "Roulet", firstLetter: "A", lastLetter: "R", photo: '@Url.Content("~/content/mobilethemebuilder/images/annette.jpg")' },
                  { firstName: "Antonio", lastName: "Moreno", firstLetter: "A", lastLetter: "M", photo: '@Url.Content("~/content/mobilethemebuilder/images/antonio.jpg")' },
                  { firstName: "Carine", lastName: "Schmitt", firstLetter: "C", lastLetter: "S", photo: '@Url.Content("~/content/mobilethemebuilder/images/carine.jpg")' },
                  { firstName: "Catherine", lastName: "Dewey", firstLetter: "C", lastLetter: "D", photo: '@Url.Content("~/content/mobilethemebuilder/images/catherine.jpg")' },
                  { firstName: "Daniel", lastName: "Tonini", firstLetter: "D", lastLetter: "T", photo: '@Url.Content("~/content/mobilethemebuilder/images/daniel.jpg")' },
                  { firstName: "Diego", lastName: "Roel", firstLetter: "D", lastLetter: "R", photo: '@Url.Content("~/content/mobilethemebuilder/images/diego.jpg")' },
                  { firstName: "Eduardo", lastName: "Saavedra", firstLetter: "E", lastLetter: "S", photo: '@Url.Content("~/content/mobilethemebuilder/images/eduardo.jpg")' },
                  { firstName: "Elizabeth", lastName: "Brown", firstLetter: "E", lastLetter: "B", photo: '@Url.Content("~/content/mobilethemebuilder/images/elizabeth.jpg")' },
                  { firstName: "Felipe", lastName: "Izquierdo", firstLetter: "F", lastLetter: "I", photo: '@Url.Content("~/content/mobilethemebuilder/images/felipe.jpg")' },
                  { firstName: "Fran", lastName: "Wilson", firstLetter: "F", lastLetter: "W", photo: '@Url.Content("~/content/mobilethemebuilder/images/fran.jpg")' },
                  { firstName: "Francisco", lastName: "Chang", firstLetter: "F", lastLetter: "C", photo: '@Url.Content("~/content/mobilethemebuilder/images/francisco.jpg")' }
              ],
        group: "firstLetter"
    });

    function regroup() {
        nameSource.group(this.selectedIndex ? "lastLetter" : "firstLetter");
    }
</script>

<script id="nameTemplate" type="text/x-kendo-template">
    <h2>#:firstName# #:lastName#</h2><img src="#:photo#" />
</script>

<style scoped>
    #buttongroup-navbar h2 {
        display: inline-block;
        font-size: 1.1em;
        margin: 1em 0 .5em 1em;
    }
    #buttongroup-navbar img {
    	float: left;
        width: 4em;
        height: 4em;
        margin: 0;
        -webkit-box-shadow: 0 1px 3px #333;
        box-shadow: 0 1px 3px #333;
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }
</style>
