@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="msapplication-tap-highlight" content="no" />

    <link href="@Url.Content("~/content/shared/styles/console.css")" rel="stylesheet" />

    @foreach (string styleName in Kendo.Models.StyleGroups.Mobile) {
        <link href="@Url.Style(styleName)" rel="@(styleName.ToLowerInvariant().EndsWith("less") ? "stylesheet/less" : "stylesheet")" />
    }
    @if (ViewBag.Debug) {
        <script src="@Url.Content("~/content/shared/js/less.js")"></script>
    }
    @foreach (string scriptName in Kendo.Models.ScriptGroups.All) {
        <script src="@Url.Script(scriptName)"></script>
    }

    <script>
        document.title = "@ViewBag.Title";
        var NAV_JSON_URL = "@Url.Content("~/content/nav.json")";
    </script>

    <style>
        .section {
            color: gray;
        }

        #search-tooltip {
            margin: 2em 1em;
            color: gray;
            font-size: 1.2em;
            text-align: center;
        }

        #demos-search {
            visibility: visible;
            width: 60%;
        }
    </style>

    <script src="@Url.Content("~/content/shared/js/mobile-examples.js")"></script>
    <script src="@Url.Content("~/content/shared/js/console.js")"></script>
</head>
<body>
    <div data-role="view" data-title="Kendo UI" id="index" data-layout="">
        <header data-role="header">
            <div data-role="navbar">
                <a class="index-button" data-align="left" data-role="button" data-click="changeSkin">Flat</a>
                <span data-role="view-title"></span>
                <a data-align="right" data-role="button" href="#search" data-icon="search"></a>
            </div>
        </header>

        <ul data-role="listview" data-source="navDataSource" data-template="nav-template">
            <script type="text/x-kendo-template" id="nav-template">
                <a href="\\#section?name=#: name #">#: text #</a>
            </script>
        </ul>
    </div>

    <div data-role="view" id="search" data-layout="" data-after-show="focusSearch" data-init="initSearch" data-transition="none" data-hide="blurSearch">
        <header data-role="header">
            <div data-role="navbar">
                <span data-role="view-title">
                    <input type="search" id="demos-search" />
                    <a data-role="button" href="#:back" data-align="right" data-transition="none">Cancel</a>
                </span>
            </div>
        </header>

       <ul data-role="listview" data-source="searchDataSource" data-template="search-template" data-binding="checkSearch">
            <script type="text/x-kendo-template" id="search-template">
                <a href="#: url #"><span class="section">#: section # &gt;</span> #: text #</a>
            </script>
        </ul>

        <div id="search-tooltip"> Search for demos and sample applications </div>
    </div>

    <div data-role="view" id="section" data-show="loadSection" data-layout="">
        <header data-role="header">
            <div data-role="navbar">
                <a class="index-button" data-align="left" data-role="button" data-click="changeSkin">Flat</a>
                <a class="nav-button" data-align="left" data-role="backbutton" href="#/" data-transition="slide:left reverse">Back</a>
                <span data-role="view-title"></span>
                <a id="androidLightChanger" class="index-button" data-align="right" data-role="button" data-click="changeAndroidSkin" style="display: none">Light</a>
            </div>
        </header>

        <ul data-role="listview" data-source="detailNavDataSource" data-template="detail-nav-template" data-auto-bind="false">
            <script type="text/x-kendo-template" id="detail-nav-template">
                <a href="#: url #">#: text #</a>
            </script>
        </ul>
    </div>


    <div data-id="examples" data-role="layout" data-show="triggerIndexButton" data-hide="removeView">
        <header data-role="header">
            <div data-role="navbar">
                <a class="index-button" data-align="left" data-role="button" data-click="changeSkin">Flat</a>
                <a class="nav-button" data-align="left" data-role="backbutton" data-transition="slide:left reverse">Back</a>
                <span data-role="view-title"></span>
                <a data-align="right" data-role="button" class="nav-button" href="#/" data-transition="slide:left reverse">Index</a>
                <a id="androidLightChanger" class="index-button" data-align="right" data-role="button" data-click="changeAndroidSkin" style="display: none">Light</a>
            </div>
        </header>
    </div>

    <script></script>
</body>
</html>
