@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="msapplication-tap-highlight" content="no" />

    <link href="@Url.Content("~/content/shared/styles/console.css")" rel="stylesheet" />

    @foreach (string styleName in Kendo.Models.StyleGroups.Mobile) {
        <link href="@Url.Style(styleName)" rel="@(styleName.ToLowerInvariant().EndsWith("less") ? "stylesheet/less" : "stylesheet")" />
    }
    @if (ViewBag.Debug) {
        <script src="@Url.Content("~/content/shared/js/less.js")"></script>
    }
    @foreach (string scriptName in Kendo.Models.ScriptGroups.Mobile) {
        <script src="@Url.Script(scriptName)"></script>
    }

    <script src="@Url.Content("~/content/shared/js/console.js")"></script>
</head>
<body>
    <div data-role="view" data-title="Kendo UI Mobile" id="index">
    @foreach (string category in ViewBag.Navigation.Keys)
    {
        <ul data-role="listview" data-type="group" data-style="inset">
        @foreach (NavigationWidget widget in ViewBag.Navigation[category])
        {
            <li> @widget.Text
                <ul>
                    @foreach (NavigationExample example in widget.Items)
                    {
                        <li><a href="@Url.Content("~/mobile/m/" + example.Url)">@example.Text</a></li>
                    }
                </ul>
            </li>
        }
        </ul>
    }
    </div>

    <div data-id="examples" data-role="layout" data-show="triggerIndexButton">
        <header data-role="header">
            <div data-role="navbar">
                <a class="index-button" data-align="left" data-role="button" data-click="changeSkin">Flat</a>
                <a class="nav-button" data-align="left" data-role="backbutton" href="" data-transition="slide:right">Back</a>
                <span data-role="view-title"></span>
                <a data-align="right" data-role="button" class="nav-button" href="#index">Index</a>
            </div>
        </header>
    </div>

    <script>
        document.title = "@ViewBag.Title";

        function triggerIndexButton(e) {
            var viewID = e.view.element.attr("id");
            e.layout.header.find(".index-button").css({display: viewID != "index" ? "none" : ""});
            e.layout.header.find(".nav-button").css({display: viewID != "index" ? "" : "none"});
        }

        function changeSkin(e) {
            var nextSkin = e.sender.element.text() == "Flat" ? "flat" : "";

            window.kendoMobileApplication.skin(nextSkin.toLowerCase());
            e.sender.element.find(".km-text").text(nextSkin ? "Native" : "Flat");
        }

        window.kendoMobileApplication = new kendo.mobile.Application($(document.body), {
            layout: "examples",
            transition: "slide",
            icon: {
                "" : '@Url.Content("~/favicon.png")',
                "72x72" : '@Url.Content("~/favicon.png")',
                "114x114" : '@Url.Content("~/favicon114.png")'
            }
        });
    </script>
</body>
</html>
