@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="msapplication-tap-highlight" content="no" />

    <link href="@Url.Content("~/content/shared/styles/console.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/mobile/examples.css")" rel="stylesheet" />

    @foreach (string styleName in Kendo.Models.StyleGroups.Mobile) {
        <link href="@Url.Style(styleName)" rel="@(styleName.ToLowerInvariant().EndsWith("less") ? "stylesheet/less" : "stylesheet")" />
    }
    @if (ViewBag.Debug) {
        <script src="@Url.Content("~/content/shared/js/less.js")"></script>
    }
    @foreach (string scriptName in Kendo.Models.ScriptGroups.All) {
        <script src="@Url.Script(scriptName)"></script>
    }

    <script>
        document.title = "@ViewBag.Title";
        var NAV_JSON_URL = "@Url.Content("~/content/nav.json")";
        var navProduct = "@ViewBag.NavProduct";
        var product = "@ViewBag.Product";
    </script>

    <script src="@Url.Content("~/content/shared/js/theme-chooser.js")"></script>
    <script src="@Url.Content("~/content/shared/js/example-datasources.js")"></script>
    <script src="@Url.Content("~/content/shared/js/mobile-examples.js")"></script>
    <script src="@Url.Content("~/content/shared/js/console.js")"></script>
</head>

<body id="examples">
    <div data-role="view" data-title="Kendo UI" id="index" data-layout="">
        <header data-role="header">
            <div data-role="navbar">
                <a data-align="left" data-role="button" href="#about" data-rel="drawer" data-icon="drawer-icon"></a>
                <span data-role="view-title"></span>
                <a data-align="right" data-role="button" href="#search" data-icon="search"></a>
            </div>
        </header>

        <ul data-role="listview" data-source="navDataSource" data-template="nav-template">
            <script type="text/x-kendo-template" id="nav-template">
                <a href="\\#section?name=#: name #">#: text #</a>
            </script>
        </ul>
    </div>

    <div data-role="view" id="search" data-layout="" data-after-show="focusSearch" data-init="initSearch" data-transition="none" data-hide="blurSearch">
        <header data-role="header">
            <div data-role="navbar">
                <a data-role="button" href="#:back" data-align="left" data-transition="none" data-icon="arrow-w"></a>
                <div data-align="right" id="demos-search-container" data-align="right">
                    <input type="search" id="demos-search" />
                </div>
            </div>
        </header>

       <ul data-role="listview" data-source="searchDataSource" data-template="search-template" data-binding="checkSearch" id="search-results">
            <script type="text/x-kendo-template" id="search-template">
                <a href="#: url #">
                    #: text #
                    <span class="section">#: section #</span>
                </a>
            </script>
        </ul>

        <div id="search-tooltip">Search for demos and sample applications.</div>
    </div>

    <div data-role="view" id="section" data-show="loadSection" data-layout="">
        <header data-role="header">
            <div data-role="navbar">
                <a data-role="button" href="#" data-align="left" data-icon="arrow-w"></a>
                <span data-role="view-title"></span>
                <a data-align="right" data-role="button" href="#search" data-icon="search"></a>
            </div>
        </header>

        <ul data-role="listview" data-source="detailNavDataSource" data-template="detail-nav-template" data-auto-bind="false">
            <script type="text/x-kendo-template" id="detail-nav-template">
                <a href="#: url #">#: text #</a>
            </script>
        </ul>
    </div>

    <div data-id="examples" data-role="layout" data-show="showDemoLayout" data-hide="removeView">
        <header data-role="header">
            <div data-role="navbar">
                <a data-align="left" data-icon="arrow-w" data-role="backbutton"></a>
                <span data-role="view-title"></span>
                <a data-align="right" data-icon="themechooser" href="#themechooser" data-rel="drawer" data-role="button"></a>
            </div>
        </header>

        <footer data-role="footer">
            <div id="desktop-footer">
                <a id="desktop-link" data-rel="external">View desktop website</a>
            </div>
        </footer>
    </div>

    <div data-role="drawer" id="about" style="background-image: url(@Url.Content("~/content/mobile/backgrounds/" + ViewBag.product + ".jpg"))">
        <div data-role="header">
            <div data-role="navbar">
                <img src="@Url.Content("~/content/mobile/logos/" + ViewBag.product + ".png")" data-align="left" style="width: 198px; height: 15px" id="logo">
            </div>
        </div>

        <ul data-role="listview" id="external-resources">
            <li><a data-rel="external" href="http://www.telerik.com/@ViewBag.product">Product Overview</a></li>
            <li><a data-rel="external" href="http://www.telerik.com/purchase/@ViewBag.product">Pricing</a></li>
            <li><a data-rel="external" href="http://www.telerik.com/download/@ViewBag.product">Try Now</a></li>
        </ul>

        <div data-role="footer">
            <ul data-role="listview">
                <li><a data-rel="external" href="http://www.telerik.com/company/terms-of-use">Terms of Use</a></li>
                <li><a data-rel="external" href="http://www.telerik.com/company/product-improvement-program">Product Improvement program</a></li>
                <li><a data-rel="external" href="http://www.telerik.com/company/offices">Contact Us</a></li>
            </ul>
        </div>
    </div>

    <div data-role="drawer" id="themechooser" data-position="right">
        <header data-role="header">
            <div data-role="navbar">
                <span data-align="left" id="theme-title">Theme</span>
            </div>
        </header>

        <ul data-role="listview" data-source="themes" data-template="theme-template" data-click="selectTheme" data-bound="pickInitialTheme">
        </ul>
        <script id="theme-template" type="text/x-kendo-temlate">
            <a href="\#" style="border-color: #: color #">#: text #</a>
        </script>
    </div>

    <script>
        window.app = new kendo.mobile.Application($(document.body), {
            layout: "examples",
            transition: "slide",
            skin: "flat",
            icon: {
                "" : '@Url.Content("~/content/mobile/AppIcon72x72.png")',
                "72x72" : '@Url.Content("~/content/mobile/AppIcon72x72.png")',
                "76x76" : '@Url.Content("~/content/mobile/AppIcon76x76.png")',
                "114x114" : '@Url.Content("~/content/mobile/AppIcon72x72@2x.png")',
                "120x120" : '@Url.Content("~/content/mobile/AppIcon76x76@2x.png")',
                "152x152" : '@Url.Content("~/content/mobile/AppIcon76x76@2x.png")'
            }
        });
    </script>
</body>
</html>
