<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="@ViewBag.Meta">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")"/>
    @foreach (string styleName in (ViewBag.Mobile == true? Kendo.Models.StyleGroups.Mobile : Kendo.Models.StyleGroups.All))
    {
    <link href="@Url.Style(styleName)" rel="@(styleName.ToLowerInvariant().EndsWith("less") ? "stylesheet/less" : "stylesheet")" />
    }

    @if (ViewBag.Debug)
    {
    <script src="@Url.Content("~/content/shared/js/less.js")"></script>
    }
    else
    {
    @Html.Partial("GoogleAnalytics")
    }
    <link href="@Url.Content("~/content/shared/styles/examples.css")" rel="stylesheet" />
    @foreach (string scriptName in Kendo.Models.ScriptGroups.All)
    {
    <script src="@Url.Script(scriptName)"></script>
    }
    <script src="@Url.Content("~/content/shared/js/kendo-dojo.js")"></script>
    <script src="@Url.Content("~/content/shared/js/console.js")"></script>
    <script src="@Url.Content("~/content/shared/js/prettify.js")"></script>
    <script>
        function resizeContainers() {
            var headerHeight = $("#header").height(),
                searchWrapper = $("#example-search-wrapper").height(),
                htmlHeight = $('html').height();
            navHeight = htmlHeight - (headerHeight + searchWrapper);
            $("#nav-wrapper").height(navHeight - 1);
            $("#main").height(navHeight + searchWrapper);
        }

        $(document).ready(resizeContainers);
        $(window).resize(resizeContainers);
    </script>

</head>
<body>
    @Html.Partial("Header")
    @Html.Partial("GoogleTagManager")
    @RenderBody()
    @if (ViewBag.SuppressFooter == null || !ViewBag.SuppressFooter)
    {
        @Html.Partial("Footer")
    }
</body>
</html>
