<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="@ViewBag.Meta">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")"/>
    @foreach (string styleName in (ViewBag.Mobile? Kendo.Models.StyleGroups.Mobile : Kendo.Models.StyleGroups.All))
    {
    <link href="@Url.Style(styleName)" rel="@(styleName.ToLowerInvariant().EndsWith("less") ? "stylesheet/less" : "stylesheet")" />
    }

    @if (ViewBag.Debug)
    {
    <script src="@Url.Content("~/content/shared/js/less.js")"></script>
    }
    else
    {
    @Html.Partial("GoogleAnalytics")
    }
    <link href="@Url.Content("~/content/shared/styles/examples.css")" rel="stylesheet" />
    @foreach (string scriptName in Kendo.Models.ScriptGroups.All)
    {
    <script src="@Url.Script(scriptName)"></script>
    }
    <script src="@Url.Content("~/content/shared/js/trykendo.js")"></script>
    <script src="@Url.Content("~/content/shared/js/examples.js")"></script>
    <script src="@Url.Content("~/content/shared/js/console.js")"></script>
    <script src="@Url.Content("~/content/shared/js/prettify.js")"></script>
    <script src="@Url.Content("~/content/shared/js/telerik-navigation.js")"></script>
</head>
<body>
    @Html.Partial("Telerik-Navigation")
    <div class="demos-nav widgetGrid">
        <div class="centerWrap floatWrap">
        @{
                var idx = 0;
                var maxItemsPerColumn = 8;
        }

        <ul>
            @foreach (NavigationWidget widget in ViewBag.Navigation)
            {
                if (!widget.ShouldInclude) { continue; }

                if (widget.Name != "overview")
                {
                    var isActive = false;

                    if (ViewBag.Section == "dashboards")
                    {
                        isActive = ViewBag.Example == widget.Name;
                    }
                    else
                    {
                        isActive = ViewBag.Section == widget.Name;
                    }

                    <li @Html.Raw(isActive ? "class=\"active\"" : "")>
                        @Html.WidgetLink(widget)
                    </li>

                    idx++;
                    if (idx > 0 && idx % maxItemsPerColumn == 0)
                    {
                        @Html.Raw("</ul><ul>")
                    }
                }
            }
        </ul>


        <h2 class="custom-themes-cat">Custom Themes</h2>
        <ul>
            <li><a class="theme-builder" href="@Url.Content("~/themebuilder/web.html")" target="_blank">Theme Builder</a> </li>
        </ul>

       @Html.Raw("</div>")

        </div>
    </div>

@{
    var ignored = Request.Path.IndexOf("overview") > -1 || Request.Path.IndexOf("dashboard") > -1;
}
        <div class='centerWrap floatWrap@(ignored ? " widgetOverview" : "")' id="mainWrap">
            <div id="themeWrap" style="@(ignored  ? "display:none" : "")">
                <span id="themeChooser"></span>
                <a href="http://docs.telerik.com/kendo-ui/api/@ViewBag.Documentation" class="get-kendoui" style="display:@(ignored || string.IsNullOrEmpty(ViewBag.Documentation) ? "none" : "inline-block")">Documentation</a>
            </div>

            <div id="mainWrapInner" class="floatWrap clear">
            @if (ViewBag.CurrentWidget.Name != "overview")
            {
                @Html.Partial("Navigation")
            }

            @RenderBody()

            </div>

        </div>


    <script>

        if ("pushState" in history) {
            $(".demos-nav").on("click", "a", function(e) {
                var a = $(this),
                    li = a.parent();

                if (a.attr("target")) {
                    return;
                }

                e.preventDefault();

                if (li.hasClass("active")) {
                    return;
                }

                Application.loadWidget(a.attr("href"));
            });
        }

        Application.isMobile = !!$("#mobile-application-container").length;

        if (Application.isMobile) {
            var initialTheme = {
                label: "Choose skin:",
                theme: "ios7",
                themes: [
                    { text: "iOS7", value: "ios7" },
                    { text: "iOS6", value: "ios" },
                    { text: "Android Light", value: "android-light" },
                    { text: "Android Dark", value: "android-dark" },
                    { text: "BlackBerry", value: "blackberry" },
                    { text: "WP8 Light", value: "wp-light" },
                    { text: "WP8 Dark", value: "wp-dark" },
                    { text: "Flat Skin", value: "flat" }
                ]
            }
        }

        $("#themeChooser").kendoThemeChooser(initialTheme);

        @if (ViewBag.Mobile)
        {
            <text>
                applyCurrentTheme();
            </text>
        }

    </script>
</body>
</html>
