<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.RouteUrl("Static", new { assetGroup = "src", assetType = "styles", file = "kendo.common.css" })" rel="stylesheet" />
    <link href="@Url.RouteUrl("Static", new { assetGroup = "src", assetType = "styles", file = "kendo.default.css" })" rel="stylesheet" />
    <link href="@Url.Content("~/content/shared/styles/examples.css")" rel="stylesheet" />
    @foreach (var scriptName in Kendo.Models.ScriptGroups.All)
    {
    <script src="@Url.RouteUrl("Static", new { assetGroup = "src", assetType = "js", file = scriptName })"></script>
    }
    <script src="@Url.Content("~/content/shared/js/examples.js")"></script>
    <script src="@Url.Content("~/content/shared/js/prettify.js")"></script>
</head>
<body>
    <!-- nav -->
        <div id="exceptFooterWrap">
        <div id="exceptFooter">

            <div id="header">
            <div class="floatWrap centerWrap">
                <h1><a id="logo" href="http://www.kendoui.com">Kendo</a></h1>
                <a id="referenceUrl" href="@Url.Content("~")"></a>
                <ul>
                    <li style="margin-left: 0;"><a accesskey="1" title="Link to home page" href="http://www.kendoui.com/web">Web</a></li>
                    <li><a href="http://www.kendoui.com/dataviz">DataViz</a></li>
                    <li><a href="http://www.kendoui.com/mobile">Mobile</a></li>
                    <li class="active">
                        <a href="http://demos.kendoui.com">Demos</a>
                        <em class="shadow"></em>
                        <em></em></li>
                    <li><a id="download" onclick="_gaq.push(['_trackPageview','/download-button']);" href="http://www.kendoui.com/get-kendo-ui">Get Kendo UI</a></li>
                </ul>
            </div>
            </div> <!-- / header -->

            <div id="flowerWrap">
                <div class="flowers"></div>

                <div id="topnavWrap" class="centerWrap">
                    <ul id="topnav">
                        <li>@Html.SuiteLink("Web", "first")</li>
                        <li>@Html.SuiteLink("DataViz")</li>
                        <li>@Html.SuiteLink("Mobile")</li>
                        <li><a id="themebuilder" class="last @(ViewBag.Suite == "themebuilder" ? "selected" : "")" href="themebuilder/index.html">ThemeBuilder</a></li>
                    </ul>

                    <div id="examplesThemeChooser">
                        <label for="skinSelector">Theme</label>
                        <input id="skinSelector" class="themeChooser" />
                    </div>
                </div> <!-- / topnavWrap -->
            </div>

            <div id="navmainWrap" class="floatWrap centerWrap hasNavigation">
                <div id="navWrap">
                    @foreach (string category in ViewBag.Navigation.Keys)
                    {
                        <h3>@category</h3>
                        <ul class="nav">
                        @foreach (NavigationWidget widget in ViewBag.Navigation[category])
                        {
                            <li class="@(ViewBag.Section == widget.Name ? "k-state-active k-state-highlighted" : "")">
                                <span class="k-link k-header">
                                    <span class="k-sprite @widget.SpriteCssClass"></span>
                                    @widget.Text
                                </span>
                                <ul>
                                    @foreach (NavigationExample example in widget.Items) {
                                        <li>
                                            <a class="k-link @(Request.Path.EndsWith(example.Url) ? "chosen" : "")"
                                               href="@Url.Content("~/" + @ViewBag.Suite + "/" + example.Url)">@example.Text</a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                        </ul>
                    }
                </div>

                @RenderBody()

            </div> <!-- / navmainWrap -->

        </div> <!-- / exceptFooter -->
        </div> <!-- / exceptFooterWrap -->

        <div id="footer">
        <div class="floatWrap centerWrap">
            <ul>
                <li><a href="http://www.kendoui.com">Home</a></li>
                <li><a href="http://www.kendoui.com/web">Web</a></li>
                <li><a href="http://www.kendoui.com/dataviz">DataViz</a></li>
                <li><a href="http://www.kendoui.com/mobile">Mobile</a></li>
                <li><a href="http://demos.kendoui.com/">Demos</a></li>
                <li><a href="http://www.kendoui.com/blogs">Blogs</a></li>
                <li><a href="http://www.kendoui.com/forums">Forums</a></li>
                <li><a href="http://www.kendoui.com/get-help">Support &amp; Resources</a></li>
                <li><a href="http://www.kendoui.com/roadmap.aspx">Roadmap</a></li>
                <li><a href="http://www.kendoui.com/about">About</a></li>
                <li><a href="http://www.kendoui.com/get-kendo-ui">Get Kendo UI</a></li>
                <li><a href="http://twitter.com/#!/KendoUI" class="icon tw" title="Follow us on Twitter">Follow us on Twitter</a></li>
                <li><a href="http://www.facebook.com/KendoUI" class="icon fb" title="Become a fan on Facebook">Become a fan on Facebook</a></li>
                <li><a href="https://plus.google.com/117798269023828336983/posts" class="icon gplus" title="Follow us on Google+">Follow us on Google+</a></li>
                <li><a href="http://www.kendoui.com/blogs/blogs.rss" class="icon rss" title="Subscribe to our RSS feed">Subscribe to our RSS feed</a></li>
            </ul>
            <p id="telerik"><a href="http://www.telerik.com/">Kendo UI is powered by Telerik</a></p>
            <p id="copy">Copyright &copy; 2011 Telerik Inc. All rights reserved.</p>
        </div>
        </div> <!-- / footer -->
        <!-- tools -->

    <script>
        $(".nav").kendoPanelBar({
            animation: { open: { effects: 'fadeIn expandVertical' } },
            expandMode: "single"
        });
    </script>
</body>
</html>
