<!DOCTYPE html>
<html class="k-@ViewBag.Theme">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="@ViewBag.Meta">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")"/>
    <link rel="canonical" href="@(Request.Url.Scheme + "://" + Request.Url.Authority + Request.Url.AbsolutePath)" />
    @foreach (string styleName in (ViewBag.Mobile == true? Kendo.Models.StyleGroups.Mobile : Kendo.Models.StyleGroups.All))
    {
    @Html.StyleLink(styleName, (string)ViewBag.Theme, (string)ViewBag.CommonFile)
    }

    @if (ViewBag.Debug)
    {
    <script>
        less = {
            env: "development",
            logLevel: 1
        };
    </script>
    <script src="@Url.Content("~/content/shared/js/less.js")"></script>
    <script>less.refresh();</script>
    }
    <link href="@Url.Content("~/content/shared/styles/examples.css")" rel="stylesheet" />
    @{ bool isAngularJsExample = ViewBag.CurrentExample != null &&
                                 ViewBag.CurrentExample.Text.StartsWith("AngularJS"); }

    @foreach (string scriptName in Kendo.Models.ScriptGroups.All)
    {
        if (scriptName.Contains("angular") && !isAngularJsExample) {
            continue;
        }

        if (scriptName.Contains("jszip") && ViewBag.CurrentExample != null
        && !ViewBag.CurrentExample.Text.Contains("Excel")) {
            continue;
        }

        <script src="@Url.Script(scriptName)"></script>
    }
    <script src="@Url.Content("~/content/shared/js/kendo-dojo.js")"></script>
    <script src="@Url.Content("~/content/shared/js/console.js")"></script>
    <script src="@Url.Content("~/content/shared/js/prettify.js")"></script>
    <!--[if gte IE 8]>
    <script src="@Url.Content("~/content/shared/inspector/inspector.js")"></script>
    <link href="@Url.Content("~/content/shared/inspector/inspector.css")" rel="stylesheet" />
    <!--<![endif]-->
    <script>
        function resizeContainers() {
            var headerHeight = $("#header").height(),
                searchWrapper = $("#example-search-wrapper").height(),
                navbarWrapper = $("#example-nav-bar").height(),
                htmlHeight = (kendo.support.mobileOS) ? parseFloat(window.innerHeight) : $('html').height();
            navHeight = htmlHeight - (headerHeight + searchWrapper + navbarWrapper);
            $("#nav-wrapper").height(navHeight - 2);
            $("#main").height(navHeight + searchWrapper + navbarWrapper);
        }

        $(function () {
            if (kendo.support.mobileOS) {
                $(document.documentElement).addClass("k-hover-enabled");
            }
        });

        $(document).ready(resizeContainers);
        $(window).resize(resizeContainers);
    </script>

</head>
<body>
    @Html.Partial("Header")
    @Html.Partial("GoogleTagManager")
    @RenderBody()
    @if (ViewBag.SuppressFooter == null || !ViewBag.SuppressFooter)
    {
        @Html.Partial("Footer")
    }
</body>
</html>
