<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @foreach (string styleName in ViewBag.styles) {
    <link href="@Url.Style(styleName)" rel="@(styleName.ToLowerInvariant().EndsWith("less") ? "stylesheet/less" : "stylesheet")" />
    }
    @if (ViewBag.Debug) {
    <script src="@Url.Content("~/content/shared/js/less.js")"></script>
    } else {
    @Html.Partial("GoogleAnalytics")
    }
    <link href="@Url.Content("~/content/shared/styles/examples.css")" rel="stylesheet" />
    @foreach (string scriptName in ViewBag.scripts) {
    <script src="@Url.Script(scriptName)"></script>
    }
    <script src="@Url.Content("~/content/shared/js/examples.js")"></script>
    <script src="@Url.Content("~/content/shared/js/console.js")"></script>
    <script src="@Url.Content("~/content/shared/js/prettify.js")"></script>
</head>
<body>
    @Html.Partial("Header")

    <div id="navmainWrap" class="floatWrap centerWrap hasNavigation">
        <div id="topNav">
            @foreach (string category in ViewBag.Navigation.Keys)
            {
                if (ViewBag.Navigation.Keys.Count > 1)
                {
                    <h3>@category</h3>
                }
                <ul>
                    @foreach (NavigationWidget widget in ViewBag.Navigation[category])
                    {
                        if (widget.Name != "overview")
                        {
                            <li class="@(ViewBag.Section == widget.Name ? "k-state-active k-state-highlighted" : "")">
                                <a class="k-link @(ViewBag.Section == widget.Name ? "chosen" : "")"
                                    href="@Url.Content("~/" + @ViewBag.Suite + "/" + widget.Items[0].Url)">@widget.Text</a>
                            </li>
                        }
                    }
                </ul>
            }
        </div>

        @if (ViewBag.CurrentWidget.Name != "overview")
        {

            @Html.Partial("Pager");

            <div id="navWrap">
                <ul class="nav">
                    @foreach (NavigationExample example in ViewBag.CurrentWidget.Items)
                    {
                        <li class="@(Request.Path.EndsWith(example.Url) ? "k-state-active k-state-highlighted" : "")">
                            <a class="k-link @(Request.Path.EndsWith(example.Url) ? "k-state-selected chosen" : "")"
                                href="@Url.Content("~/" + @ViewBag.Suite + "/" + example.Url)">@example.Text</a>
                        </li>
                    }
                </ul>

                @if (ViewBag.suite == "mobile")
                {
                    <p id="qrWrap">Open this demo with an iOS/Android mobile device for a full experience. <a href="#" id="qr"><span class="k-icon k-qr"></span><em>Show QR Code</em></a></p>
                    <img src="@Url.Content("~/content/mobile/shared/qr.png")" id="qrBig" />
                }
            </div>

            if (ViewBag.suite == "mobile")
            {
                <div class="configuration mobileConfiguration">
                    <input id="deviceChooser" type="hidden" />
                    <ul id="deviceList" class="options">
                        <li></li>
                    </ul>

                    <script id="deviceThumbTemplate" type="text/x-kendo-template">
                        <li><span class="thumbLink"><span class="thumb #= value #Thumb">#= value #</span><span class="skinTitle"><em>#= text #</em> Simulator</span></span></li>
                    </script>

                </div>
            }
        }

        @if (ViewBag.suite == "web" || ViewBag.suite == "dataviz") {
            <div id="examplesThemeChooser">
                <label for="skinSelector">Theme</label>
                <ul id="skinSelector" class="themeChooser" />
            </div>
        }

        @RenderBody()
    </div>

    @Html.Partial("Footer")

    <script>
        var panelbar = $(".nav").kendoPanelBar({
            animation: { open: { effects: "fadeIn expandVertical" } },
            expand: function() {
                $(this.element).closest(".nav").siblings(".k-panelbar").each(function() {
                    $(this)
                        .find(".k-link").removeClass("k-state-selected k-state-highlighted");
                });
            },
            expandMode: "single"
        }).data("kendoPanelBar");

        $(".themeChooser").themeChooser();

        $("#deviceChooser").mobileOsChooser({
            container: "#mobile-application-container"
        });

        $("#pager a:first").click(function(e) {
            var element = $(this),
                url = element.attr("href"),
                next = element.next(),
                prev = panelbar.select().prev();

            if (prev[0]) {
                e.preventDefault();

                panelbar.select(prev);

                //update links
                next.attr("href", location.href);

                prev = prev.prev();
                if (prev[0]) {
                    element.attr("href", prev.children("a").attr("href"));
                } else {
                    var widget = $("#topNav").find(".k-state-highlighted");
                    prev = widget.prev();

                    if (!prev[0]) {
                        prev = widget.parent().prevAll("ul").eq(0).children("li:last");
                    }

                    if (prev[0]) {
                        element.attr("href", prev.find("a").attr("href"));
                    } else {
                        element.attr("href", "#").addClass("k-state-disabled");
                    }
                }

                Application.load(url);
            }
        });

        $("#pager a:last").click(function(e) {
            var element = $(this),
                url = element.attr("href"),
                prev = element.prev(),
                next = panelbar.select().next();

            if (next[0]) {
                e.preventDefault();

                panelbar.select(next);

                //update links
                prev.attr("href", location.href);

                next = next.next();
                if (next[0]) {
                    element.attr("href", next.children("a").attr("href"));
                } else {
                    var widget = $("#topNav").find(".k-state-highlighted");
                    next = widget.next();

                    if (!next[0]) {
                        next = widget.parent().nextAll("ul").eq(0).children("li:first");
                    }

                    if (next[0]) {
                        element.attr("href", next.find("a").attr("href"));
                    } else {
                        element.attr("href", "#").addClass("k-state-disabled");
                    }
                }

                Application.load(url);
            }
        });
    </script>
</body>
</html>
