<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @foreach (string styleName in ViewBag.styles) {
    <link href="@Url.Style(styleName)" rel="@(styleName.ToLowerInvariant().EndsWith("less") ? "stylesheet/less" : "stylesheet")" />
    }
    @if (ViewBag.Debug) {
    <script src="@Url.Content("~/content/shared/js/less.js")"></script>
    } else {
    @Html.Partial("GoogleAnalytics")
    }
    <link href="@Url.Content("~/content/shared/styles/examples.css")" rel="stylesheet" />
    @foreach (string scriptName in ViewBag.scripts) {
    <script src="@Url.Script(scriptName)"></script>
    }
    <script src="@Url.Content("~/content/shared/js/examples.js")"></script>
    <script src="@Url.Content("~/content/shared/js/console.js")"></script>
    <script src="@Url.Content("~/content/shared/js/prettify.js")"></script>
</head>
<body>
    @Html.Partial("Header")

    <div id="navmainWrap" class="floatWrap centerWrap hasNavigation">
        <div id="topNav">
            @foreach (string category in ViewBag.Navigation.Keys)
            {
                if (ViewBag.Navigation.Keys.Count > 1)
                {
                    <h3>@category</h3>
                }
                <ul>
                    @foreach (NavigationWidget widget in ViewBag.Navigation[category])
                    {
                        if (widget.Name != "overview")
                        {
                            <li class="@(ViewBag.Section == widget.Name ? "k-state-active k-state-highlighted" : "")">
                                <a class="k-link @(ViewBag.Section == widget.Name ? "chosen" : "")"
                                    href="@Url.Content("~/" + @ViewBag.Suite + "/" + widget.Items[0].Url)">@widget.Text</a>
                            </li>
                        }
                    }
                </ul>
            }
        </div>

        @if (ViewBag.CurrentWidget.Name != "overview")
        {

            @Html.Partial("Pager");

            <div id="navWrap">
                <ul class="nav">
                    @foreach (NavigationExample example in ViewBag.CurrentWidget.Items)
                    {
                        <li class="@(Request.Path.EndsWith(example.Url) ? "k-state-active k-state-highlighted" : "")">
                            <a class="k-link @(Request.Path.EndsWith(example.Url) ? "k-state-selected chosen" : "")"
                                href="@Url.Content("~/" + @ViewBag.Suite + "/" + example.Url)">@example.Text</a>
                        </li>
                    }
                </ul>

                @if (ViewBag.suite == "mobile")
                {
                    <p id="qrWrap">Open this demo with an iOS/Android mobile device for a full experience. <a href="#" id="qr"><span class="k-icon k-qr"></span><em>Show QR Code</em></a></p>
                    <img src="@Url.Content("~/content/mobile/shared/qr.png")" id="qrBig" />
                }
            </div>

            if (ViewBag.suite == "mobile")
            {
                <div class="configuration mobileConfiguration">
                    <input id="deviceChooser" type="hidden" />
                    <ul id="deviceList" class="options">
                        <li></li>
                    </ul>

                    <script id="deviceThumbTemplate" type="text/x-kendo-template">
                        <li><span class="thumbLink"><span class="thumb #= value #Thumb">#= value #</span><span class="skinTitle"><em>#= text #</em> Simulator</span></span></li>
                    </script>

                </div>
            }
        }

        @if (ViewBag.suite == "web" || ViewBag.suite == "dataviz") {
            <div id="examplesThemeChooser">
                <label for="skinSelector">Theme</label>
                <ul id="skinSelector" class="themeChooser" />
            </div>
        }

        @RenderBody()
    </div>

    @Html.Partial("Footer")

    <script>
        var firstUrl = "@(ViewBag.FirstUrl != null ? Url.Content(ViewBag.FirstUrl) : "")",
            lastUrl = "@(ViewBag.LastUrl != null ? Url.Content(ViewBag.LastUrl) : "")",
            panelbar = $(".nav").kendoPanelBar({
                animation: { open: { effects: "fadeIn expandVertical" } },
                expand: function() {
                    $(this.element).closest(".nav").siblings(".k-panelbar").each(function() {
                        $(this)
                            .find(".k-link").removeClass("k-state-selected k-state-highlighted");
                    });
                },
                expandMode: "single"
            }).data("kendoPanelBar");

        $(".themeChooser").themeChooser();

        $("#deviceChooser").mobileOsChooser({
            container: "#mobile-application-container"
        });

        $("#pager a").click(function(e) {
            var element = $(this),
                url = element.attr("href"),
                method = element.hasClass("prev") ? "prev" : "next",
                sibling = element[method == "prev" ? "next" : "prev"](),
                current = panelbar.select(),
                next = current[method](),
                navigateUrl;

            if (next[0]) {
                e.preventDefault();

                panelbar.select(next);
                next.children().addClass("chosen");
                current.children().removeClass("chosen");

                sibling.removeClass("k-state-disabled").attr("href", location.href);

                if (method == "prev") {
                    navigateUrl = lastUrl;
                } else {
                    navigateUrl = firstUrl;
                }

                next = next[method]();

                if (next[0]) {
                    element.attr("href", next.children("a").attr("href"));
                } else {
                    element.attr("href", navigateUrl || "#").toggleClass("k-state-disabled", !navigateUrl);
                }

                Application.load(url);
            } else if (url == "#") {
                e.preventDefault();
            }
        });
    </script>
</body>
</html>
