<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="@ViewBag.Meta">
    <title>@ViewBag.Title</title>
    @foreach (string styleName in ViewBag.styles) {
    <link href="@Url.Style(styleName)" rel="@(styleName.ToLowerInvariant().EndsWith("less") ? "stylesheet/less" : "stylesheet")" />
    }
    @if (ViewBag.Debug) {
    <script src="@Url.Content("~/content/shared/js/less.js")"></script>
    } else {
    @Html.Partial("GoogleAnalytics")
    }
    <link href="@Url.Content("~/content/shared/styles/examples.css?20121115")" rel="stylesheet" />
    @foreach (string scriptName in ViewBag.scripts) {
    <script src="@Url.Script(scriptName)"></script>
    }
    <script src="@Url.Content("~/content/shared/js/examples.js?20121115")"></script>
    <script src="@Url.Content("~/content/shared/js/console.js")"></script>
    <script src="@Url.Content("~/content/shared/js/prettify.js")"></script>
</head>
<body>
    @Html.Partial("Header")

    <div class="demos-nav widgetGrid">
        <div class="centerWrap floatWrap@(ViewBag.Suite.Contains("dataviz") ? " dataviz" : "")">
        @foreach (string category in ViewBag.Navigation.Keys)
        {
            if (ViewBag.Navigation.Keys.Count > 1)
            {
                <div class="@((category.ToLower().Contains("ui") || category.ToLower().IndexOf("dashboard") > -1) ? "wideCol" : "narrowCol") floatWrap @(category.ToLower().IndexOf("dashboard") > -1 ? "dashboards" : "")@(category.ToLower().Contains("mobile widgets") ? "mobile-widgets" : "")@(category.ToLower().Contains("mobile framework") ? "mobile-framework" : "")@(category.ToLower().Contains("chart") ? "chart" : "")@(category.ToLower().Contains("gauges") ? "gauges" : "")@(category.ToLower().Contains("financial") ? "financial" : "")">
                    <h2>@category</h2>
                    @{ var idx = 0; }
                    <ul>
                        @foreach (NavigationWidget widget in ViewBag.Navigation[category])
                        {
                            if (!widget.ShouldInclude) { continue; }

                            if (widget.Name != "overview")
                            {
                                var isActive = false;

                                if (ViewBag.Section == "dashboards")
                                {
                                    isActive = ViewBag.Example == widget.Name;
                                }
                                else
                                {
                                    isActive = ViewBag.Section == widget.Name;
                                }

                                <li @Html.Raw(isActive ? "class=\"active\"" : "")>
                                @if (widget.Items[0].Url.IndexOf("dashboard") == 0)
                                {
                                    <a href="@Url.Content("~/" + @ViewBag.Suite + "/" + widget.Items[0].Url)">
                                        <img src="@(Url.Content("~") + widget.ThumbnailUrl)" alt="@widget.Name" />
                                    </a>
                                }
                                    <a @Html.Raw(widget.New ? "class=\"new-widget\"" : "") href="@Url.Content("~/" + @ViewBag.Suite + "/" + widget.Items[0].Url)">@widget.Text @(widget.Tablet ? "(tablet)" : "")</a>
                                </li>

                                idx++;
                                var divisor = ViewBag.suite == "web" ? 5 : 6;
                                if (idx > 0 && idx % divisor == 0)
                                {
                                    @Html.Raw("</ul><ul>")
                                }
                            }
                        }</ul>
                </div>
            }
        }

        @if (ViewBag.suite == "mobile")
        {
            <div class="narrowCol mobile-devices">
                <h2>OS Simulator Mode</h2>
                <input id="deviceChooser" type="hidden" />
                <ul id="deviceList" class="options">
                    <li></li>
                </ul>

                <script id="deviceThumbTemplate" type="text/x-kendo-template">
                    <li><span class="osName"><strong>#= text #</strong> Simulator</span> <span class="osThumb #= value #Thumb">#= value #</span></li>
                </script>

            </div>
        }

        </div>
    </div>

    <div class="flowers-left"><div class="flowers-right">
        <div class='centerWrap floatWrap@(Request.Path.IndexOf("overview") != -1 || Request.Path.IndexOf("dashboards") > -1 ? " widgetOverview" : "")@(ViewBag.suite == "mobile" ? " mobileDemos" : "")' id="mainWrap">
            <div id="themeWrap" style="@(ViewBag.suite == "mobile" || Request.Path.IndexOf("overview") > -1 || ViewBag.CurrentExample.Url.IndexOf("dashboard") != -1  ? "display:none" : "")">
                <span id="themeChooser"></span>
            </div>

            <div id="mainWrapInner" class="floatWrap clear">
            @if (ViewBag.CurrentWidget.Name != "overview")
            {
                @Html.Partial("Navigation")
            }

            @RenderBody()

            </div>

        </div>
    </div></div>

    @Html.Partial("Footer")

    <script>

        if ("pushState" in history) {
            $(".demos-nav").on("click", "a", function(e) {
                e.preventDefault();

                var a = $(this),
                    li = a.parent();

                if (li.hasClass("active")) {
                    return;
                }

                Application.loadWidget(a.attr("href"));
            });
        }

        $("#themeChooser").kendoThemeChooser();

        $("#deviceChooser").mobileOsChooser({
            container: "#mobile-application-container"
        });

        @if (ViewBag.suite != "mobile") {
            <text>
                applyCurrentTheme();
            </text>
        }

    </script>
</body>
</html>
