<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @foreach (string styleName in ViewBag.styles) {
    <link href="@Url.Style(styleName)" rel="@(styleName.ToLowerInvariant().EndsWith("less") ? "stylesheet/less" : "stylesheet")" />
    }
    @if (ViewBag.Debug) {
    <script src="@Url.Content("~/content/shared/js/less.js")"></script>
    } else {
    @Html.Partial("GoogleAnalytics")
    }
    <link href="@Url.Content("~/content/shared/styles/examples.css")" rel="stylesheet" />
    @foreach (string scriptName in ViewBag.scripts) {
    <script src="@Url.Script(scriptName)"></script>
    }
    <script src="@Url.Content("~/content/shared/js/examples.js")"></script>
    <script src="@Url.Content("~/content/shared/js/console.js")"></script>
    <script src="@Url.Content("~/content/shared/js/prettify.js")"></script>
</head>
<body>
    @Html.Partial("Header")

    <div class="demos-nav widgetGrid">
        <div class="centerWrap floatWrap">
        @foreach (string category in ViewBag.Navigation.Keys)
        {
            if (ViewBag.Navigation.Keys.Count > 1)
            {
                <div class="@(category.ToLower().Contains("ui") ? "wideCol" : "narrowCol") floatWrap">
                    <h2>@category</h2>
                    @{ var idx = 0; }
                    <ul>
                        @foreach (NavigationWidget widget in ViewBag.Navigation[category])
                        {
                            if (widget.Name != "overview")
                            {

                                <li class="@(ViewBag.Section == widget.Name ? "active" : "")">
                                    <a href="@Url.Content("~/" + @ViewBag.Suite + "/" + widget.Items[0].Url)">@widget.Text</a>
                                </li>

                                idx++;
                                if (idx > 0 && idx % 5 == 0)
                                {
                                    @Html.Raw("</ul><ul>")
                                }
                            }
                        }
                    </ul>
                </div>
            }
        }

        @if (ViewBag.suite == "mobile")
        {
            <div class="narrowCol mobile-devices">
                <h2>OS Simulator Mode</h2>
                <input id="deviceChooser" type="hidden" />
                <ul id="deviceList" class="options">
                    <li></li>
                </ul>

                <script id="deviceThumbTemplate" type="text/x-kendo-template">
                    <li><span class="thumbLink"><span class="thumb #= value #Thumb">#= value #</span><span class="skinTitle"><em>#= text #</em> Simulator</span></span></li>
                </script>

            </div>
        }

        </div>
    </div>

    <div class='centerWrap floatWrap@(Request.Path.IndexOf("overview") != -1 ? " widgetOverview" : "")@(ViewBag.suite == "mobile" ? " mobileDemos" : "")' id="mainWrap">

        @if ((ViewBag.suite == "web" || ViewBag.suite == "dataviz") && Request.Path.IndexOf("overview") < 0) {
        <div id="themeWrap">
            <p class="choose-theme">Choose Theme:</p>
            <ul id="themeChooser"><li></li></ul>
        </div>
        }

        <div id="mainWrapInner" class="floatWrap clear">
        @Html.Partial("Navigation")
        @if (ViewBag.CurrentWidget.Name != "overview")
        {
            if (ViewBag.suite == "mobile")
            {
                <div class="configuration mobileConfiguration">
                    <input id="deviceChooser" type="hidden" />
                    <ul id="deviceList" class="options">
                        <li></li>
                    </ul>

                    <script id="deviceThumbTemplate" type="text/x-kendo-template">
                        <li><span class="thumbLink"><span class="thumb #= value #Thumb">#= value #</span><span class="skinTitle"><em>#= text #</em> Simulator</span></span></li>
                    </script>

                </div>
            }
        }

        @RenderBody()

        </div>

    </div>

    @Html.Partial("Footer")

    <script src="https://platform.twitter.com/widgets.js" type="text/javascript"></script>
    <script>
        var prevWidgetUrl = "@(ViewBag.PrevWidgetUrl != null ? Url.Content(ViewBag.PrevWidgetUrl) : "")",
            nextWidgetUrl = "@(ViewBag.NextWidgetUrl != null ? Url.Content(ViewBag.NextWidgetUrl) : "")",
            links = $("#pager a"),
            prevLink = links.eq(0),
            nextLink = links.eq(1);


        $("#examples-list").on("click", "a", function() {
            var item = $(this).parent();

            prevLink.attr("href", item.prev().find("a").attr("href") || prevWidgetUrl),
            nextLink.attr("href", item.next().find("a").attr("href") || nextWidgetUrl);
        });

        $(".demos-nav").on("click", "a", function(e) {
            e.preventDefault();
            Application.changeWidget(this.href);
        });

        $(".themeChooser").themeChooser();

        $("#deviceChooser").mobileOsChooser({
            container: "#mobile-application-container"
        });

        links.click(function(e) {
            var element = $(this),
                url = element.attr("href"),
                sibling = element.siblings(),
                method = element.hasClass("prev") ? "prev" : "next",
                currentItem = $("#examples-nav li.active"),
                nextItem = currentItem[method](),
                navigateUrl = method == "next" ? nextWidgetUrl : prevWidgetUrl;

            if (nextItem[0]) {
                e.preventDefault();

                nextItem.addClass("active");
                currentItem.removeClass("active");

                sibling.removeClass("k-state-disabled")
                       .attr("href", location.href);

                nextItem = nextItem[method]();

                if (nextItem[0]) {
                    element.attr("href", nextItem.children("a").attr("href"));
                } else {
                    element.attr("href", navigateUrl || "#").toggleClass("k-state-disabled", !navigateUrl);
                }

                Application.load(url);
            } else if (navigateUrl) {
                e.preventDefault();
                Application.changeWidget(navigateUrl);
            } else if (url == "#") {
                e.preventDefault();
            }
        });
    </script>
</body>
</html>
