<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="@ViewBag.Meta">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")"/>
    @foreach (string styleName in ViewBag.styles)
    {
    <link href="@Url.Style(styleName)" rel="@(styleName.ToLowerInvariant().EndsWith("less") ? "stylesheet/less" : "stylesheet")" />
    }
    
    @if (ViewBag.Debug)
    {
    <script src="@Url.Content("~/content/shared/js/less.js")"></script>
    }
    else
    {
    @Html.Partial("GoogleAnalytics")
    }
    <link href="@Url.Content("~/content/shared/styles/examples.css")" rel="stylesheet" />
    @foreach (string scriptName in ViewBag.scripts)
    {
    <script src="@Url.Script(scriptName)"></script>
    }
    <script src="@Url.Content("~/content/shared/js/trykendo.js")"></script>
    <script src="@Url.Content("~/content/shared/js/examples.js")"></script>
    <script src="@Url.Content("~/content/shared/js/console.js")"></script>
    <script src="@Url.Content("~/content/shared/js/prettify.js")"></script>
    <script src="@Url.Content("~/content/shared/js/telerik-navigation.js")"></script>
</head>
<body>
    @Html.Partial("Telerik-Navigation")
    @Html.Partial("Header")
    <div class="demos-nav widgetGrid @ViewBag.Suite">
        <div class="centerWrap floatWrap@(ViewBag.Suite.Contains("dataviz") ? " dataviz" : "")">
        @{ var merging = false; }
        @foreach (string category in ViewBag.Navigation.Keys)
        {
            if (ViewBag.Navigation.Keys.Count > 1)
            {
                if (merging)
                {
                    merging = false;
                }
                else
                {
                    @Html.Raw("<div class='" + Html.NavigationWrapperClass(category) + "'>");
                }
                
                <h2 class="@category.Trim().ToLower().Replace(" ", "-").Replace("&", "")-cat">@category</h2>
                
                var idx = 0;
                var maxItemsPerColumn = 7;
                
                <ul>
                    @foreach (NavigationWidget widget in ViewBag.Navigation[category])
                    {
                        if (!widget.ShouldInclude) { continue; }

                        if (widget.Name != "overview")
                        {
                            var isActive = false;

                            if (ViewBag.Section == "dashboards")
                            {
                                isActive = ViewBag.Example == widget.Name;
                            }
                            else
                            {
                                isActive = ViewBag.Section == widget.Name;
                            }

                            <li @Html.Raw(isActive ? "class=\"active\"" : "")>
                                @Html.WidgetLink(widget, category)
                            </li>

                            idx++;
                            if (idx > 0 && idx % maxItemsPerColumn == 0)
                            {
                                @Html.Raw("</ul><ul>")
                            }
                        }
                    }
                </ul>
            
                merging = Html.MergesWithNext(category);

                if (!merging)
                {
                    @Html.Raw("</div>");
                }
            }
        }
        
        @if (!merging)
        {
            @Html.Raw("<div class='" + Html.NavigationWrapperClass("themes") + "'>");
        }
        
        <h2 class="custom-themes-cat">Custom Themes</h2>
        <ul>
            <li><a class="theme-builder" href="@Url.Content("~/themebuilder/" + ViewBag.Suite + ".html")" target="_blank">Theme Builder</a> </li>
        </ul>

        @Html.Raw("</div>")

        @if (ViewBag.suite == "mobile")
        {
            <div class="narrowCol mobile-devices">
                <h2>OS Simulator Mode</h2>
                <input id="deviceChooser" type="hidden" />
                <ul id="deviceList" class="options">
                    <li></li>
                </ul>

                <script id="deviceThumbTemplate" type="text/x-kendo-template">
                    <li><span class="osName"><strong>#= text #</strong># if (text != "Flat Skin") { # Simulator# } #</span> <span class="osThumb #= value #Thumb">#= value #</span></li>
                </script>

            </div>
        }
        </div>
    </div>

@{
    var ignored = Request.Path.IndexOf("overview") > -1 || Request.Path.IndexOf("dashboard") > -1;
}
        <div class='centerWrap floatWrap@(ignored ? " widgetOverview" : "")@(ViewBag.suite == "mobile" ? " mobileDemos" : "")' id="mainWrap">
            <div id="themeWrap" style="@(ignored ? "display:none" : "")">
                <span id="themeChooser" style="@(ViewBag.suite == "mobile" ? "display:none" : "")"></span>
                <a href="http://docs.kendoui.com/api/@ViewBag.Documentation" class="get-kendoui" style="display:@(ignored || string.IsNullOrEmpty(ViewBag.Documentation) ? "none" : "inline-block")">Documentation</a>
            </div>

            <div id="mainWrapInner" class="floatWrap clear">
            @if (ViewBag.CurrentWidget.Name != "overview")
            {
                @Html.Partial("Navigation")
            }

            @RenderBody()

            </div>

        </div>
   

    @Html.Partial("Footer")

    <script>

        if ("pushState" in history) {
            $(".demos-nav").on("click", "a", function(e) {
                var a = $(this),
                    li = a.parent();

                if (a.attr("target")) {
                    return;
                }

                e.preventDefault();

                if (li.hasClass("active")) {
                    return;
                }

                Application.loadWidget(a.attr("href"));
            });
        }

        $("#themeChooser").kendoThemeChooser();

        $("#deviceChooser").mobileOsChooser({
            container: "#mobile-application-container"
        });

        @if (ViewBag.suite != "mobile")
        {
            <text>
                applyCurrentTheme();
            </text>
        }

    </script>
</body>
</html>
