@{
    // WebKit's back button caches ajax responses so we are not relying on IsAjaxRequest

    if (Request.Params.AllKeys.Contains("nav"))
    {
        Layout = "~/Views/Shared/_LayoutWidget.cshtml";
    }
    else if (!Request.Params.AllKeys.Contains("partial"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div id="main">
    <h1 id="exampleTitle">
        @if (ViewBag.CurrentExample != null) {
            <span class="exampleIcon @ViewBag.CurrentWidget.SpriteCssClass"></span>
            <strong>@ViewBag.CurrentWidget.Text @(ViewBag.CurrentExample.Url.Contains("dashboard") ? "" : "/")</strong> @ViewBag.CurrentExample.Text
        }
    </h1>

    <div id="exampleWrap">
        <script>preventFOUC()</script>

        @if (ViewBag.suite == "mobile") {
        <div id="example" class="k-content mobileExample @(ViewBag.CurrentWidget.Tablet ? "tablet km-tablet" : "")">

            <div id="device-wrapper">
                <div id="mobile-application-container">
                    @RenderBody()
                    <div data-role="layout" data-id="examples">
                        <header data-role="header">
                            <div data-role="navbar">
                                <!--a class="nav-button" data-align="left" data-role="backbutton">Back</a-->
                                <span data-role="view-title">Settings</span>
                                <a data-align="right" data-role="button" class="nav-button" href="#index">Index</a>
                            </div>
                        </header>
                    </div>
                </div>
            </div>

            @RenderSection("ExampleFooter", false)
        </div>
        <script>
            if (!(kendo.support.browser.webkit || kendo.support.browser.mozilla)) {
                $("#mobile-application-container")
                        .addClass("old-browser")
                        .empty()
                        .html("<div class='content'><span class='centered'><strong>Kendo UI Mobile</strong><span>is fully supported only in WebKit based browsers.</span><br><br>Please use a compatible desktop browser or open the examples in a mobile WebKit based browser.</span></div>");
            }
        </script>
        } else {
            @RenderBody()
        }
    </div>

    @if (ViewBag.ShowCodeStrip == true)
    {
        <div id="codeStrip">
            @if (!string.IsNullOrEmpty(ViewBag.Documentation))
            {
                <a class="documentation-link k-link" href="http://docs.kendoui.com/api/@ViewBag.Documentation"><span class="documentation-icon"></span>Documentation</a>
            }

            <ul>
                @foreach (ExampleFramework framework in ViewBag.Frameworks)
                {
                    <li>@framework.Name</li>
                }
            </ul>
            @foreach (ExampleFramework framework in ViewBag.Frameworks)
            {
               <div id="@framework.Name.Replace(".", "-").Replace(" ", "-")">
               <ul>
                    @foreach (ExampleFile file in framework.Files)
                    {
                        <li>@file.Name</li>
                    }
               </ul> 
               </div>
               <script>
               $("#@framework.Name.Replace(".", "-").Replace(" ", "-")").kendoTabStrip({
                    animation: {
                        open: {
                            effects: "fadeIn"
                        }
                    },
                    contentUrls: [
                        @Html.Raw(String.Join(",", framework.Files.Select(file => "\"" + Url.Action("index", "source", new { path = file.Url } ) + "\"").ToArray()))
                    ],
                    contentLoad: function() {
                        prettyPrint();
                    }
               });
               </script>
            }
        </div>

        <script>
            $("#codeStrip").kendoTabStrip({
                animation: {
                    open: {
                        effects: "fadeIn"
                    }
                },
                select: function(e) {
                    var tabstrip = $(e.contentElement).data("kendoTabStrip");

                    console.log(tabstrip.select());

                    if (tabstrip.select().length == 0) {
                        tabstrip.select(0);
                    }
                }
            }).find("li:first").click();

        </script>
    }
</div>

<script>
    setTimeout(function(){ prettyPrint(); }, 100);

    document.title = "@Html.Raw(ViewBag.Title)";

    @if (ViewBag.suite == "mobile")
    {
        <text>
            kendo.history.stop();

            $(function() {
                applyCurrentMobileOS("#mobile-application-container");

                if (!kendo.support.browser.msie && !kendo.support.browser.opera) {
                    window.kendoMobileApplication = new kendo.mobile.Application($("#mobile-application-container"),
                    {
                        layout: "examples",
                        platform: kendoMobileOS,
                        updateDocumentTitle: false
                    });
                }
            });
        </text>
    }
</script>
