@{
    // WebKit's back button caches ajax responses so we are not relying on IsAjaxRequest

    if (Request.Params.AllKeys.Contains("nav"))
    {
        Layout = "~/Views/Shared/_LayoutWidget.cshtml";
    }
    else if (!Request.Params.AllKeys.Contains("partial"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div id="main">
    <h1 id="exampleTitle">
        @if (ViewBag.CurrentExample != null) {
            <span class="exampleIcon @ViewBag.CurrentWidget.SpriteCssClass"></span>
            <strong>@ViewBag.CurrentWidget.Text @(ViewBag.CurrentExample.Url.Contains("dashboard") ? "" : "/")</strong> @ViewBag.CurrentExample.Text
        }
    </h1>

    <div id="exampleWrap">
        <script>preventFOUC()</script>

        @if (ViewBag.suite == "mobile") {
        <div id="example" class="k-content mobileExample @(ViewBag.CurrentWidget.Tablet ? "tablet km-tablet" : "")">

            <div id="device-wrapper">
                <div id="mobile-application-container">
                    @RenderBody()
                    <div data-role="layout" data-id="examples">
                        <header data-role="header">
                            <div data-role="navbar">
                                <!--a class="nav-button" data-align="left" data-role="backbutton">Back</a-->
                                <span data-role="view-title">Settings</span>
                                <a data-align="right" data-role="button" class="nav-button" href="#index">Index</a>
                            </div>
                        </header>
                    </div>
                </div>
            </div>

            @RenderSection("ExampleFooter", false)
        </div>
        <script>
            if (!($.browser.webkit || $.browser.mozilla)) {
                $("#mobile-application-container")
                        .addClass("old-browser")
                        .empty()
                        .html("<div class='content'><span class='centered'><strong>Kendo UI Mobile</strong><span>is fully supported only in WebKit based browsers and partially supported in Firefox.</span><br><br>Please use a compatible desktop browser or open the examples in a mobile WebKit based browser.</span></div>");
            }
        </script>
        } else {
            @RenderBody()
        }
    </div>

    @if (ViewBag.ShowCodeStrip == true)
    {
        <div id="codeStrip">
            @if (!string.IsNullOrEmpty(ViewBag.Documentation))
            {
                <a class="documentation-link k-link" href="http://www.kendoui.com/documentation/@ViewBag.Documentation"><span class="documentation-icon"></span>Documentation</a>
            }

            @if (ViewBag.Section.ToLower() == "overview" || ViewBag.Section == "integration") {
                <ul>
                    <li class="k-state-active">Getting started</li>
                </ul>

                <div class="description">
                    @Html.Raw(ViewBag.Description)
                    @RenderSection("Description", false)
                </div>
            }
        </div>

        <script>
            var codestrip = $("#codeStrip").kendoTabStrip({
                contentLoad: function() {
                    prettyPrint();
                },
                animation: {
                    open: {
                        effects: "fadeIn"
                    }
                }
            }).data("kendoTabStrip"),
            docURL = "@ViewBag.Documentation",
            docs = window.docs,
            suite, section;

            @if (ViewBag.Debug == false) {
                <text>
                    //http://developer.github.com/v3/repos/contents/
                    docs.url = "https://api.github.com/repos/telerik/kendo-docs/contents/api/{0}/{1}.md"
                </text>
            }

            if (docURL) {
                docURL = docURL.split("/");
                suite = docURL[0];
                section = docURL[1];

                if (suite === "ui-widgets") {
                    suite = "web";
                }

                if (section) {
                    section = section.replace("-", "");
                }

                docs.load(suite, section, function(sections) {
                    for (var section in sections) {
                        codestrip.append({
                            text: section,
                            content: sections[section]
                        });
                    }

                    codestrip.select(0);

                    //add demo source code
                    codestrip.insertAfter({
                        text: "Demo source code",
                        contentUrl: "@Url.RouteUrl(ViewBag.suite == "mobile" ? "Source" : "SourcesView", new { suite = ViewBag.suite, section = ViewBag.Section, example = ViewBag.Example })"
                    }, codestrip.select());

                    //prettify pre tags
                    $("pre").addClass("prettyprint");
                    prettyPrint();
                });
            }

            @if (ViewBag.Section.ToLower() == "overview" || ViewBag.Section == "integration") {
                <text>
                codestrip.select(0);

                //add demo source code
                codestrip.insertAfter({
                    text: "Demo source code",
                    contentUrl: "@Url.RouteUrl(ViewBag.suite == "mobile" ? "Source" : "SourcesView", new { suite = ViewBag.suite, section = ViewBag.Section, example = ViewBag.Example })"
                }, codestrip.select());
                </text>
            }
        </script>
    }
</div>

<script>
    setTimeout(function(){ prettyPrint(); }, 100);

    document.title = "@Html.Raw(ViewBag.Title)";

    @if (ViewBag.suite == "mobile")
    {
        <text>
            kendo.history.stop();

            $(function() {
                applyCurrentMobileOS("#mobile-application-container");

                if (!$.browser.msie && !$.browser.opera) {
                    window.kendoMobileApplication = new kendo.mobile.Application($("#mobile-application-container"),
                    {
                        layout: "examples",
                        platform: kendoMobileOS
                    });
                }
            });
        </text>
    }
</script>
