@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.SuppressFooter = true;

    string navProduct = ViewBag.NavProduct;
}

<script src="@Url.Content("~/content/shared/js/theme-chooser.js")"></script>

<script>
    var path = "../";
</script>
@Html.Partial("WebSearchScript")
<div id="example-search-wrapper" class="search-wrapper">
    <div class="search">
        <input id="example-search" placeholder="Search demos"/>
  @*      <span id="icon-search" class="k-uniE600"></span>*@
    </div>
</div>

<div id="nav-wrapper">

    <div id="nav">
        <div id="root-nav">
    @foreach (IGrouping<string, NavigationWidget> category in ViewBag.Categories)
    {
        <ul class="root-nav-categories">
            @if (category.Any(c => c.ShouldInclude((string)ViewBag.NavProduct)))
            {
            <li>
                <h3>@category.Key</h3>
                <ul class="root-nav-widgets">
                @foreach (var widget in category)
                {
                    if (widget.ShouldInclude((string)ViewBag.NavProduct))
                    {
                    <li>@Html.WidgetLink(widget)</li>
                    }
                }
                </ul>
            </li>
            }
        </ul>
    }
        </div>

        <div id="example-nav">
            <a href="#" id="back-nav" class="k-uniE604"></a>

        <h4>@ViewBag.CurrentWidget.Text</h4>
        <ul>
            @foreach (NavigationExample example in ViewBag.CurrentWidget.Items)
            {
                if (example.ShouldInclude(navProduct))
                {
                    <li>@Html.ExampleLink(example)</li>
                }
            }
        </ul>
        </div>
    </div>

    <script>
        $("#back-nav").on("click", function(e) {
            $("#nav").addClass("root");
            e.preventDefault();
        });

        function setSearchListWidth() {
            $("#example-search").data("kendoExampleSearch").list.width(500);
        }

        $(document).ready(function () {
            resizeContainers();
            setSearchListWidth();
        });
    </script>
</div>
<div id="main">
    @Html.Partial("ThemeChooser")

    <h1 id="exampleTitle">
        @if (ViewBag.CurrentExample != null) {
            <span class="exampleIcon @ViewBag.CurrentWidget.SpriteCssClass"></span>
            <strong>@ViewBag.CurrentWidget.Text @(ViewBag.CurrentExample.Url.Contains("dashboard") ? "" : "/")</strong> @ViewBag.CurrentExample.Text
        }
    </h1>

    <div id="exampleWrap">
        <script>$("#exampleWrap").css("visibility", "hidden");</script>

        @if (ViewBag.Mobile) {
        <div id="example" class="k-content mobileExample @(ViewBag.CurrentWidget.Tablet ? "tablet km-tablet" : "")">

            <div id="device-wrapper">
                <div id="mobile-application-container">
                    @RenderBody()
                    <div data-role="layout" data-id="examples">
                        <header data-role="header">
                            <div data-role="navbar">
                                <!--a class="nav-button" data-align="left" data-role="backbutton">Back</a-->
                                <span data-role="view-title"></span>
                                <a data-align="right" data-role="button" class="nav-button" href="#/">Index</a>
                            </div>
                        </header>
                    </div>
                </div>
            </div>

            @RenderSection("ExampleFooter", false)
        </div>
        <script>
            if ((kendo.support.browser.msie && kendo.support.browser.version < 10) || kendo.support.browser.opera) {
                $("#mobile-application-container")
                        .addClass("old-browser")
                        .empty()
                        .html("<div class='content'><span class='centered'><strong>Kendo UI Mobile</strong><span>is fully supported only in WebKit based browsers and IE10.</span><br><br>Please use a compatible desktop browser or open the examples in a mobile WebKit based browser or Windows Phone.</span></div>");
            }
        </script>
        } else {
            @RenderBody()
        }
        <script>
            $(function(){ $("#exampleWrap").css("visibility", ""); });
        </script>
    </div>

    @if (ViewBag.ShowCodeStrip == true)
    {
        <div id="codeStrip">
            @if (!string.IsNullOrEmpty(ViewBag.Api))
            {
                <a class="documentation-link k-link" href="@ViewBag.Api">API Reference</a>
            }

            @if (ViewBag.Product == "kendo-ui")
            {
                <button class="try-kendo"><span class="k-icon"></span>Edit this example</button>
            }

            @{
                IEnumerable<ExampleFile> examples = ViewBag.ExampleFiles;
            }

            @if (examples.Any())
            {
                <div id="source-code">
                    <ul>
                        @foreach (ExampleFile file in examples)
                        {
                            <li>@file.Name</li>
                        }
                   </ul>
                </div>
               <script>
               $("#source-code").kendoTabStrip({
                    animation: {
                        open: {
                            effects: "fadeIn"
                        }
                    },
                    contentUrls: [
                        @Html.Raw(String.Join(",", examples.Select(file => "\"" + Url.Action("index", "source", new { path = file.Url } ) + "\"").ToArray()))
                    ],
                    contentLoad: function (e) {
                        var content = $(e.contentElement);
                        if (content.is("#source-code-1")) {
                            var html = content.find('.prettyprint').text();
                            content.data("html", content.find('.prettyprint').text());
                        }

                        prettyPrint();
                    }
               }).data("kendoTabStrip").select(0);

               dojo.configuration = {
                   url: "@Html.DojoRoot()",
                   cdnRoot: '@Html.CdnRoot()'
               };
               </script>
            }
        </div>
    }
    <div id="resources-technologies" class="box">
        @if (ViewBag.Forum != null || ViewBag.Documentation != null || ViewBag.CodeLibrary != null)
        {
        <div id="learning-resources" class="box-col">
            <h4>Support & learning resources</h4>
            <ul>
                @if (ViewBag.Forum != null)
                {
                <li><a href="@ViewBag.Forum">Forums</a></li>
                }
                @if (ViewBag.CodeLibrary != null)
                {
                <li><a href="@ViewBag.CodeLibrary">Code Libraries</a></li>
                }
                @if (ViewBag.Documentation != null)
                {
                <li><a href="@ViewBag.Documentation">Documentation</a></li>
                }
            </ul>
        </div>
        }
        <div id="technologies" class="box-col">
            @{
                NavigationExample currentExample = ViewBag.CurrentExample;
                NavigationWidget currentWidget = ViewBag.CurrentWidget;
                var html = currentWidget.ShouldInclude("online") && currentExample.ShouldInclude("online") && navProduct != "online";
                var php = currentWidget.ShouldInclude("php") && currentExample.ShouldInclude("php") && navProduct != "php";
                var mvc = currentWidget.ShouldInclude("mvc") && currentExample.ShouldInclude("mvc") && navProduct != "mvc";
                var jsp = currentWidget.ShouldInclude("jsp") && currentExample.ShouldInclude("jsp") && navProduct != "jsp";
            }

            @if (html || php || jsp || mvc)
            {
                <h4>for other technologies</h4>
                <ul>
                    @if (php)
                    {
                    <li><a href="@Html.ProductExampleUrl(currentExample, "php-ui")">PHP</a></li>
                    }
                    @if (jsp)
                    {
                    <li><a href="@Html.ProductExampleUrl(currentExample, "jsp-ui")">JSP</a></li>
                    }
                    @if (html)
                    {
                    <li><a href="@Html.ProductExampleUrl(currentExample, "kendo-ui")">HTML5 / JavaScript</a></li>
                    }
                    @if (mvc)
                    {
                    <li><a href="@Html.ProductExampleUrl(currentExample, "aspnet-mvc")">ASP.NET MVC</a></li>
                    }
                </ul>
            }
        </div>
    </div>
    @Html.Partial("Footer")
</div>

<script>
    $(".try-kendo").click(function(e) {
        window.dojo.postSnippet($('#source-code-1').data('html'), window.location.href);
    });

    setTimeout(function(){ prettyPrint(); }, 100);

    @if (ViewBag.Mobile)
    {
        <text>
            kendo.history.stop();

            window.kendoMobileOS = "ios7";

            $(function() {
                var kendoMobileOS = window.kendoMobileOS;

                if (window.sessionStorage) {
                    window.kendoMobileOS = sessionStorage.getItem("kendoMobileOS") || kendoMobileOS;
                }

                $("#mobile-application-container").removeClass("km-ios km-ios4 km-ios5 km-ios6 km-ios7 km-android km-android-dark km-android-light km-blackberry km-wp km-wp-dark km-wp-light km-flat").addClass("km-" + kendoMobileOS + (" km-" + kendoMobileOS.replace(/-.*/, "")));
                $("#device-wrapper").removeClass("ios7 android blackberry wp flat").addClass(kendoMobileOS);

                var skin = kendoMobileOS != "flat" ? {} : {
                    platform: "ios7",
                    skin: "flat"
                };

                if (!(kendo.support.browser.msie && kendo.support.browser.version < 10) && !kendo.support.browser.opera) {
                    window.app = new kendo.mobile.Application($("#mobile-application-container"),
                        $.extend({
                            layout: "examples",
                            platform: kendoMobileOS,
                            updateDocumentTitle: false,
                            hideAddressBar: false
                        }, skin));
                }
            });
        </text>
    }
</script>
