@{
    if (!Request.IsAjaxRequest()) {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div id="main">
    <h1 id="exampleTitle" class="k-content">
        <span class="exampleIcon @ViewBag.CurrentWidget.SpriteCssClass"></span>
        @ViewBag.CurrentExample.Text
    </h1>
    <script>initializeNavigation();</script>
    <div id="exampleWrap">
        <script>preventFOUC()</script>
        <!-- nav -->
        <div id="example" class="k-content">
        @RenderBody()
        </div> <!-- / example -->
        <!-- tools -->
    </div> <!-- / exampleWrap -->

    <div id="codeStrip">
        <ul>
            <li class="k-state-active">Description</li>
            <li>View Code</li>

            @if (ViewBag.HasConfiguration) {
                <li>Configuration</li>
            }

            @if (ViewBag.HasMethods) {
                <li>Methods</li>
            }

            @if (ViewBag.HasEvents) {
                <li>Events</li>
            }
        </ul>
        <div>
            @Html.Raw(ViewBag.Description)
            @RenderSection("Description", false)
        </div>
    </div>
</div> <!-- / main -->

<script>
    $("#codeStrip").kendoTabStrip({
        contentUrls: [null,
        "@Url.RouteUrl("Source", new { section = ViewBag.Section, example = ViewBag.Example })",
        "@Url.Content(string.Format("~/content/docs/kendo.ui.{0}.configuration.html", ViewBag.Section))",
        "@Url.Content(string.Format("~/content/docs/kendo.ui.{0}.methods.html", ViewBag.Section))",
        "@Url.Content(string.Format("~/content/docs/kendo.ui.{0}.events.html", ViewBag.Section))"
        ],
        contentLoad: function() {
            prettyPrint();
        }
    });

    setTimeout(function(){ prettyPrint(); }, 100);
</script>
