<div id="header">
    <div class="centerWrap floatWrap">
        <h1><a href="@Url.Content("~")" id="logo">Kendo UI - the Art of Web Development</a></h1>
        <ul class="kendo-nav">
            <li><a href="http://www.kendoui.com/web">Web</a></li>
            <li><a href="http://www.kendoui.com/mobile">Mobile</a></li>
            <li><a href="http://www.kendoui.com/dataviz">DataViz</a></li>
            <li class="active"><a href="http://demos.kendoui.com/">Demos</a><em></em></li>
            <li><a href="http://www.kendoui.com/get-kendo-ui/purchase.aspx" onclick="_gaq.push(['_trackPageview', '/top-nav/purchase']);">Purchase</a></li>
            <li><a href="http://www.kendoui.com/get-kendo-ui" class="get-kendoui" onclick="_gaq.push(['_trackPageview','/download-button']);">Download</a></li>
        </ul>
    </div>
</div>

<div id="banner"></div>

<div class="suite-demos-nav">
    <ul class="centerWrap floatWrap">
        <li><a href="@Url.Content("~")">Overview</a><em></em></li>
        <li@(Html.ActiveSuiteClass(Url.Content("~/web")))>@Html.SuiteLink("Web", "Web Demos")</li>
        <li@(Html.ActiveSuiteClass(Url.Content("~/mobile")))>@Html.SuiteLink("Mobile", "Mobile Demos")</li>
        <li@(Html.ActiveSuiteClass(Url.Content("~/DataViz")))>@Html.SuiteLink("DataViz", "DataViz Demos")</li>
        <li@(Html.ActiveSuiteClass(Url.Content("~/ThemeBuilder")))>@Html.SuiteLink("ThemeBuilder", "Theme Builders")</li>
    </ul>
</div>
