<div class="suite-demos-nav">
    <div class="demos-title active header"><a href="@Url.Content("~")">Kendo UI Demos</a></div>
    <ul class="demos-list centerWrap floatWrap">
        <li><a href="@Url.Content("~")">Overview</a><em></em></li>
        <li@(Html.ActiveSuiteClass(Url.Content("~/web")))>@Html.SuiteLink("Web", "Web Demos")</li>
        <li@(Html.ActiveSuiteClass(Url.Content("~/mobile")))>@Html.SuiteLink("Mobile", "Mobile Demos")</li>
        <li@(Html.ActiveSuiteClass(Url.Content("~/DataViz")))>@Html.SuiteLink("DataViz", "DataViz Demos")</li>
        <li><a href="http://www.telerik.com/download/kendo-ui-complete" class="get-kendoui" onclick="_gaq.push(['_trackPageview','/download-button']);">Download</a></li>
    </ul>
</div>
