@if (ViewBag.CurrentExample.Url.IndexOf("dashboard") == -1)
{
<div id="examples-nav">
    @Html.Partial("Pager")
    <ul id="examples-list">
        @foreach (NavigationExample example in ViewBag.CurrentWidget.Items)
        {
            if (!example.ShouldInclude) { continue; }

            <li class="@(Request.Path.EndsWith(example.Url) ? "active" : "")">
                <a href="@Url.Content("~/" + ViewBag.Suite + "/" + example.Url)">@example.Text</a>
                </li>
        }
    </ul>

@if (ViewBag.suite == "mobile")
{
    <p id="qrWrap">
        Open these demos with an iOS/Android mobile device for a full experience.
        <a href="#" id="qr"><em>Show QR Code</em><span class="k-icon k-qr"></span></a>
    </p>
    <img src="@Url.Content("~/content/mobile/shared/qr.png")" id="qrBig" />

}

<a href="http://www.kendoui.com/get-kendo-ui" class="get-kendoui">Get KendoUI</a>
</div>
}
