<!DOCTYPE html>
<html>
<head>
    <title>ThemeBuilder for Kendo UI</title>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")"/>
    @foreach (string styleName in ViewBag.styles) {
    @Html.StyleLink(styleName, (string)ViewBag.Theme, (string)ViewBag.CommonFile)
    }
    @if (ViewBag.Debug) {
    <script src="@Url.Content("~/content/shared/js/less.js")"></script>
    } else {
    @Html.Partial("GoogleAnalytics")
    }
    <link href="@Url.Content("~/content/shared/styles/examples.css")" rel="stylesheet" />
    @foreach (string scriptName in @ViewBag.scripts)
    {
    <script src="@Url.Script(scriptName)"></script>
    }
</head>
<body>
    @Html.Partial("Header")
    @Html.Partial("GoogleTagManager")

    @RenderBody()

    @Html.Partial("Footer")
</body>
</html>
