<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")"/>
    @foreach (string styleName in ViewBag.styles) {
    <link href="@Url.Style(styleName)" rel="@(styleName.ToLowerInvariant().EndsWith("less") ? "stylesheet/less" : "stylesheet")" />
    }
    @if (ViewBag.Debug) {
    <script src="@Url.Content("~/content/shared/js/less.js")"></script>
    } else {
    @Html.Partial("GoogleAnalytics")
    }
    <link href="@Url.Content("~/content/shared/styles/examples.css")" rel="stylesheet" />
    @foreach (string scriptName in @ViewBag.scripts)
    {
    <script src="@Url.Script(scriptName)"></script>
    }
</head>
<body>
    @Html.Partial("Header")

    @RenderBody()

    @Html.Partial("Footer")
</body>
</html>
