@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="width=device-width" name="viewport">
    <meta charset="utf-8">
    <title>Kendo UI Demos</title>
    <link rel="shortcut icon" href="@Url.Content("~/content/shared/styles/favicon.ico")"/>
    <link href="@Url.Content("~/content/shared/styles/examples.css?20121115")" rel="stylesheet" />
    @Html.Partial("GoogleAnalytics")
</head>
<body class="overview">

<div id="header">
    <div class="centerWrap floatWrap">
        <h1><a href="http://www.kendoui.com/" id="logo">Kendo UI - the Art of Web Development</a></h1>
        <ul class="main-nav">
            <li><a href="http://www.kendoui.com/blogs">Blogs</a></li>
            <li><a href="http://docs.kendoui.com">Documentation</a></li>
            <li><a href="#expand">Support <span>&#9660;</span></a>
                <ol class="submenu-box support-menu">
	                <li><a href="http://www.kendoui.com/forums.aspx">Forums</a></li>
	                <li><a href="http://stackoverflow.com/questions/tagged/kendo-ui">StackOverflow Forums</a></li>
                </ol>
            </li>
            <li><a href="#expand">Resources <span>&#9660;</span></a>
                <div class="submenu-box">
	                <h4>Featured Resource</h4>
	                <h3><a href="http://www.kendoui.com/dojo.aspx">Kendo UI Dojo</a></h3>
	                <hr />
	                <ol id="resources-first">
		                <li><a target="_blank" href="http://www.telerik.com/automated-testing-tools/campaigns/testing-kendoui-apps.aspx">Automated Testing</a></li>
		                <li><a href="http://www.kendoui.com/blogs.aspx">Blogs</a></li>
		                <li><a href="http://www.kendoui.com/code-library.aspx">Code Library</a></li>
		                <li><a href="http://demos.kendoui.com/">Demos</a></li>
		                <li><a href="http://docs.kendoui.com/">Documentation</a></li>
		                <li><a href="http://www.kendoui.com/faq/faq.aspx">FAQ</a></li>
	                </ol>
	                <ol>
		                <li><a href="http://www.kendoui.com/forums.aspx">Forums</a></li>
		                <li><a href="http://www.kendoui.com/roadmap.aspx">Roadmap</a></li>
		                <li><a target="_blank" href="http://kendo.uservoice.com/forums/127393-kendo-ui-feedback">User Voice</a></li>
		                <li><a href="http://www.kendoui.com/videos.aspx">Videos</a></li>
		                <li><a href="http://www.kendoui.com/webinars.aspx">Webinars</a></li>
	                </ol>
                </div>
            </li>
            <li><a href="http://www.kendoui.com/contact.aspx">Contact Us</a></li>
        </ul>

        <ul class="kendo-nav">
            <li><a href="#expand">Products <span>&#9660;</span></a>
                <ol class="submenu-box">
                    <li><a href="http://www.kendoui.com/web">Kendo UI Web</a></li>
                    <li><a href="http://www.kendoui.com/mobile">Kendo UI Mobile</a></li>
                    <li><a href="http://www.kendoui.com/dataviz">Kendo UI DataViz</a></li>
                    <li><a href="http://www.kendoui.com/server-wrappers.aspx">Server Side Wrappers</a></li>
                </ol>
            </li>
            <li class="active"><a href="http://demos.kendoui.com/">Demos</a></li>
            <li><a href="http://www.kendoui.com/get-kendo-ui/purchase.aspx" onclick="_gaq.push(['_trackPageview', '/top-nav/purchase']);">Purchase</a></li>
            <li><a href="http://www.kendoui.com/get-kendo-ui" class="get-kendoui" onclick="_gaq.push(['_trackPageview','/download-button']);">Download</a></li>
        </ul>
    </div>
</div>

<div id="banner"><div id="bannerInner"><div class="centerWrap"><h1>Kendo UI Demos</h1></div></div></div>

<div class="suite-demos-nav">
    <ul class="centerWrap floatWrap">
        <li class="active"><a href="#">Overview</a></li>
        <li><a href="web/">Web Demos</a></li>
        <li><a href="mobile/">Mobile Demos</a></li>
        <li><a href="dataviz/">DataViz Demos</a></li>
        <li><a href="themebuilder/">Theme Builders</a></li>
    </ul>
</div>

<div class="demos-nav">
    <div class="centerWrap floatWrap">
        <div class="box centerAlign">
            <a href="web/" class="imgPlate"><img src="@Url.Content("~/content/shared/styles/demos-web.png")" alt="Web Demos" /></a>
            <h2><a href="web/">Web Demos</a></h2>
            <p>19 slick UI widgets plus demos of MVVM, Validation, Globalization, Templates, etc. <a href="web/" class="launchButton">Launch Demos</a></p>
        </div>
        <div class="box centerAlign">
            <a href="mobile/" class="imgPlate"><img src="@Url.Content("~/content/shared/styles/demos-mobile.png")" alt="Mobile Demos" /></a>
            <h2><a href="mobile/">Mobile Demos</a></h2>
            <p>See what you can do on phones & tablets. Make sure to check the mobile simulator. <a href="mobile/" class="launchButton">Launch Demos</a></p>
        </div>
        <div class="box centerAlign">
            <a href="dataviz/" class="imgPlate"><img src="@Url.Content("~/content/shared/styles/demos-dataviz.png")" alt="DataViz Demos" /></a>
            <h2><a href="dataviz/">DataViz Demos</a></h2>
            <p>You won't believe this is just HTML5. <br />Rich, interactive, touch-enabled charts. <a href="dataviz/" class="launchButton">Launch Demos</a></p>
        </div>
    </div>
</div>

<div class="centerWrap floatWrap">

    <h2>Kendo UI Tools and Integration Examples</h2>

    <div class="integra-examples floatWrap">
        <div class="box narrowbox">
            <a href="http://try.kendoui.com/" class="imgPlate"><img src="@Url.Content("~/content/shared/styles/dojo.png")" alt="Kendo UI Dojo" /></a>
            <h3><a href="http://try.kendoui.com/">Kendo UI Dojo</a></h3>
            <p>The Kendo UI Dojo is an interactive environment designed to help you get up and running with Kendo UI quickly, no downloads needed.</p>
            <p>In this in-browser application, you'll be introduced to the basics of Kendo UI Web, DataViz and Mobile through guided tutorials and live, executable samples.</p>
            <a href="http://try.kendoui.com/" class="launchButton">Launch!</a>
        </div>

        <div class="box narrowbox">
            <a href="themebuilder/" class="imgPlate"><img src="@Url.Content("~/content/shared/styles/themebuilder.png")" alt="ThemeBuilder for Kendo UI Web" /></a>
            <h3 class="centerAlign"><a href="themebuilder/">ThemeBuilder for Kendo UI Web</a></h3>
            <p>The ThemeBuilder is a powerful visual tool for quickly customizing the look-and-feel of Kendo UI widgets.</p>
            <p>Using a simple point-and-click configuration wizard, anyone can transform Kendo UI CSS to precisely match their site stylesheet.</p>
            <a href="themebuilder/" class="launchButton">Launch!</a>
        </div>

        <div class="box narrowbox">
            <a href="mobilethemebuilder/" class="imgPlate"><img src="@Url.Content("~/content/shared/styles/themebuilder-mobile.png")" alt="ThemeBuilder for Kendo UI Mobile" /></a>
            <h3 class="centerAlign"><a href="mobilethemebuilder/">ThemeBuilder for Kendo UI Mobile</a></h3>
            <p>Quickly modify the styles of Kendo UI Mobile widgets as they exist in your apps with an easy to use standalone tool.
            The simple and intuitive point-and-click configuration wizard makes it a breeze to transform Kendo UI Mobile themes, providing you with the CSS output
            for use in your app.</p>
            <a href="mobilethemebuilder/" class="launchButton">Launch!</a>
        </div>

        <div class="box narrowbox">
            <a href="@Url.Content("~/mobile/simulator/")" class="imgPlate"><img src="@Url.Content("~/content/shared/styles/sushi.png")" alt="Sushi Mobile Application" /></a>
            <h3 class="centerAlign"><a href="@Url.Content("~/mobile/simulator/")">Sushi Mobile Application</a></h3>
            <p>Native UI widgets for building HTML5-powered apps and sites for modern mobile devices. Making your mobile user interface touch responsive and with native look and feel.</p>
            <p><em>Only Webkit based browsers are fully supported.</em></p>
            <a href="@Url.Content("~/mobile/simulator/")" class="launchButton">Launch!</a>
        </div>
    </div>

    <div class="box clear widebox floatWrap">
        <a href="http://demos.telerik.com/teampulse-demo/xview" class="imgPlate"><img src="@Url.Content("~/content/shared/styles/xview.png")" alt="Cross-project Dashboard TeamPulse xView" /></a>
        <h3><a href="http://demos.telerik.com/teampulse-demo/xview">Cross-project Dashboard TeamPulse xView&trade;</a></h3>
        <p>TeamPulse xView&trade; is a powerful tracking and analytics tool that helps you identify project hot spots with a single glance.
        The tool alerts users about potential problems like late work, blocking bugs, excessive workload thus allowing you to address those issues
        as early as possible and keep your projects on track. TeamPulse xView&trade; uses the following Kendo UI Web controls: Chart, Grid, TreeView, DropDownList,
        NumericTextBox, TabStrip. The tool comes as an extension of Telerik's project management solution TeamPulse.</p>
        <a href="http://demos.telerik.com/teampulse-demo/xview" class="launchButton">Launch!</a>
    </div>

    <h2>Kendo UI Compatibility</h2>

    <div class="column23">
        <h3>Mobile Device Compatibility</h3>

        <p>Kendo UI is built to work seamlessly across desktop browsers and mobile touchscreen devices. Kendo UI offers full support for touch interactions and
        is tested against the following mobile platform browsers:</p>

        <ul class="mobileOSs floatWrap">
            <li>Android 2.0+<span class="mobileOS android"></span></li>
            <li>iOS 3.0+<span class="mobileOS iOS"></span></li>
            <li>BlackBerry OS 6.0+<span class="mobileOS blackberry"></span></li>
            <li>webOS 2.2+<span class="mobileOS webOS"></span></li>
        </ul>

        <p><em><a href="mobile/">Kendo UI Mobile</a> currently supports iOS 3.0+, Android 2.0+ and BlackBerry touchscreen devices.</em></p>
    </div>

    <div class="column13">
        <h3>Supported Browsers</h3>

        <ul class="browsers">
            <li><span class="browser ie"></span>Internet Explorer 7+</li>
            <li><span class="browser chrome"></span>Google Chrome</li>
            <li><span class="browser ff"></span>Firefox <a href="http://www.mozilla.org/en-US/firefox/organizations/faq/">ESR</a></li>
            <li><span class="browser safari"></span>Safari 4+</li>
            <li><span class="browser opera"></span>Opera 10+</li>
        </ul>

        <p><em>Please note that Internet Explorer's quirks mode is not supported, as it uses the IE 5.5 rendering engine.</em></p>

        <p>Always specify a <a href="http://reference.sitepoint.com/html/doctypes">DOCTYPE</a> on your pages!</p>
    </div>

</div>

@Html.Partial("Footer")

<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>

<script>

// sub menu dropdowns

$(document).ready(function(){
    var dropdown = $("#header a[href=#expand]"),
        submenus = $("#header").find(".submenu-box");

    //sub menu dropdowns functionality
    dropdown.click(function (e) {
        var $this = $(this);
        submenus.fadeOut(); //close all dropdowns
        $this.toggleClass("expanded"); //set active state to dropdown link
        dropdown.not($this).removeClass("expanded"); //for closed dropdown menus - remove active state of their link
        $this.siblings(".submenu-box").not(":animated").fadeToggle(250); //display needed dropdown menu
        e.stopPropagation();
        e.preventDefault();
    });

    //on click outside of dropdowns, they disappear
    $(document).click(function () {
        submenus.fadeOut();
        dropdown.removeClass("expanded");
    });
});

</script>

</body>
</html>