@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.SuppressFooter = true;
}
<script>
    var path = "";
</script>
@Html.Partial("WebSearchScript")
<div id="layout-search-wrapper" class="search-wrapper">
    <div class="search">
        <input id="example-search" placeholder="Search demos" />
    </div>
</div>

<!--<div class="try-beta-demos">
    <p>Q2 2014 BETA available now - <a href="http://demos.telerik.com/@ViewBag.Product/Beta" class="try-beta-demos">Launch Demos</a></p>
</div>-->

<div id="overview">
    <div id="overview-widgets">
        @switch ((string)ViewBag.Product)
        {
            case "kendo-ui":
        <h2>Kendo UI <strong>Components</strong></h2>
                break;
            case "aspnet-mvc":
        <h2>ASP.NET MVC <strong>Components</strong></h2>
                break;
            case "php-ui":
        <h2>PHP <strong>Components</strong></h2>
                break;
            case "jsp-ui":
        <h2>JSP <strong>Components</strong></h2>
                break;
        }
        <div id="most-popular">
                <h3>Most popular</h3>
                <ul class="overview-col">
                    <li><a href="@Url.Widget("grid")">Grid</a></li>
                    <li><a href="@Url.Widget("editor")">Editor</a></li>
                    <li><a href="@Url.Widget("scheduler")">Scheduler</a></li>
                    <li><a href="@Url.Widget("dropdownlist")">DropDownList</a></li>
                    <li><a href="@Url.Widget("window")">Window</a></li>
                    <li><a href="@Url.Widget("datepicker")">DatePicker</a></li>
                    <li><a href="@Url.Widget("upload")">Upload</a></li>
                    <li><a href="@Url.Widget("treeview")">TreeView</a></li>
                    <li><a href="@Url.Widget("tabstrip")">TabStrip</a></li>
                    <li><a href="@Url.Widget("bar-charts")">Bar Charts</a></li>
                    <li><a href="@Url.Widget("line-charts")">Line Charts</a></li>
                    <li><a href="@Url.Widget("pie-charts")">Pie Charts</a></li>
                    <li><a href="@Url.Widget("financial")">Stock Charts</a></li>
                    <li><a href="@Url.Widget("drawer")">Drawer</a></li>
                    <li><a href="@Url.Widget("switch")">Switch</a></li>
                </ul>
        </div>
        <div id="widgets-all">

    @{
        var columns = new[] {
            new [] {
                "Data Management",
                "Editors",
                "Layout"
            },
            new [] {
                "Charts",
                "Gauges",
                "Barcode & QR Code"
            },
            new [] {
                "Diagrams & Maps",
                "Scheduling",
                "Navigation",
                "Framework"
            },
            new [] {
                "Interactivity & UX",
                "Mobile"
            }
        };

        var categories = (IEnumerable<IGrouping<string, NavigationWidget>>)ViewBag.Categories;
    }

    @foreach (var column in columns)
    {
        <ul class="overview-col col-four">
        @foreach (var columnCategory in column)
        {
            var category = categories.FirstOrDefault(c => c.Key == columnCategory);
            if (category.Any(c => c.ShouldInclude((string)ViewBag.NavProduct)))
            {
            <li class="widget">
                <h3>@category.Key</h3>
                <ul>
                @foreach (var widget in category)
                {
                    if (widget.ShouldInclude((string)ViewBag.NavProduct))
                    {
                    <li>@Html.WidgetLink(widget)</li>
                    }
                }
                </ul>
            </li>
            }
        }
        </ul>
    }
    </div>
</div>
<div id="applications-and-tools">
    @if (ViewBag.Product == "kendo-ui")
    {
    <div id="overview-applications">
    <h2>Sample Applications</h2>
    <ul>
        <li class="application">
            <a href="./html5-diagram-sample-app">
                <img src="@Url.Content("~/content/shared/images/dashboards/diagram.png")" class="application-image"/>
                <p>Sample Diagram Tool</p>
            </a>
        </li>
        <li class="application"><a href="./websushi/">
                <img src="@Url.Content("~/content/shared/images/dashboards/spa.png")" class="application-image"/>
                <p>Single-Page Application</p>
            </a>
        </li>
        <li class="application">
            <a href="./aeroviewr/">
                 <img src="@Url.Content("~/content/shared/images/dashboards/image-gallery.png")" class="application-image"/>
                 <p>Image Gallery</p>
            </a>
        </li>
        <li class="application">
            <a href="./bootstrap/">
                <img src="@Url.Content("~/content/shared/images/dashboards/bootstrap.png")" class="application-image"/>
                <p>Kendo UI ♥ Bootstrap</p>
            </a>
        </li>
        <li class="application">
            <a href="./mobile-apps/sushi/">
                 <img src="@Url.Content("~/content/shared/images/dashboards/sushi-bar.png")" class="application-image"/>
                 <p>Sushi Bar</p>
            </a>
        </li>
        <li class="application">
            <a href="./mobile-apps/cuteness/">
                 <img src="@Url.Content("~/content/shared/images/dashboards/reddit-viewer.png")" class="application-image"/>
                <p>Mobile Reddit Viewer</p>
            </a>
        </li>
        <li class="application">
            <a href="./financial/stock-history">
                 <img src="@Url.Content("~/content/shared/images/dashboards/stock-history.png")" class="application-image"/>
                 <p>Stock History Dashboard</p>
            </a>
        </li>
    </ul>
    </div>
    }
    @if (ViewBag.Product == "aspnet-mvc")
    {
    <div>
    <h2>Sample Applications</h2>
    <ul>
        <li class="application">
            <a href="./html5-dashboard-sample-app/">
                <img src="@Url.Content("~/content/shared/images/dashboards/northwind.png")" class="application-image"/>
                <p>Telerik Northwind Dashboard</p>
            </a>
        </li>
    </ul>
    </div>
    }
    <div id="overview-tools">
        <h2>Tools</h2>
         <ul>
            @if (ViewBag.Product == "kendo-ui")
            {
                <li>
                    <a href="@Html.DojoRoot()">Interactive Dojo</a>
                    <p>An environment designed to help you get up and running with  Kendo UI quickly.</p>
                </li>
            }
            <li>
                <a href="@Url.Action("Index", "ThemeBuilder")">ThemeBuilder</a>
                <p>Create and modify themes for Kendo UI widgets.</p>
            </li>
            <li>
                <a href="@Url.Action("MobileIndex", "ThemeBuilder")">Mobile ThemeBuiler</a>
                <p>Touch optimized Kendo UI theme customizer.</p>
            </li>
             <li>
                 <a href="https://chrome.google.com/webstore/detail/telerik-kendo-ui-chrome-i/npcmgpnfknjmndbbakdhchgibaajnlpe" target="_blank">Chrome Inspector</a>
                 <p> Chrome Developer Tools Extension allowing you to inspect, debug and troubleshoot pages hosting Kendo UI widgets and framework components.</p>
             </li>
        </ul>
    </div>
    </div>

    @Html.Partial("Footer")
</div>
