@{
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<script>
    var path = "";
</script>
@Html.Partial("WebSearchScript")
<div id="layout-search-wrapper" class="search-wrapper">
    <div class="search">
        <input id="example-search" placeholder="Search demos" />
  @*      <span id="icon-search" class="k-uniE600"></span>*@
    </div>
</div>

<div id="overview">    
    <div id="overview-widgets">
        <h2>@ViewBag.Product <strong>Components</strong></h2>
        <div id="most-popular">            
                <h3>Most popular</h3>
                <ul class="overview-col">
                    <li><a href="@Url.Widget("grid")">Grid</a></li>
                    <li><a href="@Url.Widget("editor")">Editor</a></li>
                    <li><a href="@Url.Widget("scheduler")">Scheduler</a></li>
                    <li><a href="@Url.Widget("dropdownlist")">DropDownList</a></li>
                    <li><a href="@Url.Widget("window")">Window</a></li>
                    <li><a href="@Url.Widget("datepicker")">DatePicker</a></li>
                    <li><a href="@Url.Widget("upload")">Upload</a></li>
                    <li><a href="@Url.Widget("treeview")">TreeView</a></li>
                    <li><a href="@Url.Widget("tabstrip")">TabStrip</a></li>
                    <li><a href="@Url.Widget("bar-charts")">Bar Charts</a></li>
                    <li><a href="@Url.Widget("line-charts")">Line Charts</a></li>
                    <li><a href="@Url.Widget("bar-charts")">Pie Charts</a></li>
                    <li><a href="@Url.Widget("financial")">Stock Charts</a></li>
                    <li><a href="@Url.Widget("drawer")">Drawer</a></li>
                    <li><a href="@Url.Widget("switch")">Switch</a></li>
                </ul>            
        </div>
        <div id="widgets-all">

    @{
        var columns = new[] {
            new [] {
                "Data Management",
                "Editors",
                "Layout"
            },
            new [] {
                "Data Visualization",
                "Diagramming",
                "Geo Visualization"
            },
            new [] {
                "Scheduling",
                "Navigation",
                "Interactivity & UX",
                "Framework"
            },
            new [] {
                "Mobile"
            }
        };

        var categories = (IEnumerable<IGrouping<string, NavigationWidget>>)ViewBag.Categories;
    }

    @foreach (var column in columns)
    {
        <ul class="overview-col col-four">
        @foreach (var columnCategory in column)
        {
            var category = categories.FirstOrDefault(c => c.Key == columnCategory);
            if (category.Any(c => c.ShouldInclude((string)ViewBag.NavProduct)))
            {
            <li class="widget">
                <h3>@category.Key</h3>
                <ul>
                @foreach (var widget in category)
                {
                    if (widget.ShouldInclude((string)ViewBag.NavProduct))
                    {
                    <li>@Html.WidgetLink(widget)</li>
                    }
                }
                </ul>
            </li>
            }
        }
        </ul>
    }
    </div>
</div>
<div id="applications-and-tools">

        @if (ViewBag.Product == "kendo-ui")
    {
    <div id="overview-applications">
    <h2>Sample Applications</h2>
    <ul>
        <li class="application">
            <a href="http://demos.telerik.com/kendo-ui/html5-dashboard-sample-app">
                <img src="http://demos.telerik.com/kendo-ui/content/shared/styles/kendoui-bootstrap.jpg" class="application-image"/>
                <p>Telerik Northwind Dashboard</p>
            </a>
        </li>
        <li class="application">
            <a href="http://demos.telerik.com/kendo-ui/html5-diagram-sample-app">
                <img src="http://demos.telerik.com/kendo-ui/content/shared/styles/kendoui-bootstrap.jpg" class="application-image"/>
                <p>Sample Diagram Tool</p>
            </a>
        </li>
        <li class="application"><a href="http://demos.telerik.com/kendo-ui/websushi/">
                <img src="http://demos.telerik.com/kendo-ui/content/shared/styles/kendoui-bootstrap.jpg" class="application-image"/>
                <p>Single-Page Application</p>
            </a>
        </li>
        <li class="application">
            <a href="http://demos.telerik.com/kendo-ui/aeroviewr/">
                 <img src="http://demos.telerik.com/kendo-ui/content/shared/styles/kendoui-bootstrap.jpg" class="application-image"/>
                 <p>Image Gallery</p>
            </a>
        </li>
        <li class="application">
            <a href="http://demos.telerik.com/kendo-ui/bootstrap/">
                <img src="http://demos.telerik.com/kendo-ui/content/shared/styles/kendoui-bootstrap.jpg" class="application-image"/>
                <p>Kendo UI ♥ Bootstrap</p>
            </a>
        </li>
        <li class="application">
            <a href="http://demos.telerik.com/kendo-ui/sushi/">
                 <img src="http://demos.telerik.com/kendo-ui/content/shared/styles/kendoui-bootstrap.jpg" class="application-image"/>
                 <p>Sushi Bar</p>
            </a>
        </li>
        <li class="application">
            <a href="http://demos.telerik.com/kendo-ui/cuteness/">
                 <img src="http://demos.telerik.com/kendo-ui/content/shared/styles/kendoui-bootstrap.jpg" class="application-image"/>
                <p>Mobile Reddit Viewer</p>
            </a>
        </li>
        <li class="application">
            <a href="http://demos.telerik.com/kendo-ui/financial/stock-history">
                 <img src="http://demos.telerik.com/kendo-ui/content/shared/styles/kendoui-bootstrap.jpg" class="application-image"/>
                 <p>Stock History Dashboard</p>
            </a>
        </li>
    </ul>
    </div>
    }
    @if (ViewBag.Product == "aspnet-mvc")
    {
    <div>
    <h2>Sample Applications</h2>
    <ul>
        <li><a href="http://demos.telerik.com/aspnet-mvc/html5-dashboard-sample-app">Telerik Northwind Dashboard</a></li>
    </ul>
    </div>
    }

    <div id="overview-tools">
        <h2>Tools</h2>
         <ul>
            @if (ViewBag.Product == "kendo-ui")
            {
                <li>
                    <a href="#">Interactive Dojo</a>
                    <p>An environment designed to help you get up and running with  Kendo UI quickly.</p>
                </li>
            }
            <li>
                <a href="#">ThemeBuilder</a>
                <p>Create and modify themes for Kendo UI widgets.</p>
            </li>
            <li>
                <a href="#">Mobile ThemeBuiler</a>
                <p>Touch optimized Kendo UI theme customizer.</p>
            </li>
        </ul>
    </div>
    </div>
</div>

<style>
    #overview-widgets {
        width: 69%;
    }
    
    #overview-widgets,
    #applications-and-tools,
    #most-popular, 
    #widgets-all
    {
        display: inline-block;
        position: relative;
    }

    #applications-and-tools {
        width: 30%;
    }

    #widgets-all {
        width: 77%;
    }  

    #most-popular {
        width: 22%;
        vertical-align: top;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 34px;
    }

    #overview-widgets h2 {
        text-transform: uppercase;
    }

     #overview-widgets h2 strong {
        text-transform: none;
        font-weight: normal;
    }

    #widgets-all .overview-col.col-four {
        width: 24%;
        padding: 0;
        display: inline-block;
        min-height: 1px;
        /*padding-left: 15px;
        padding-right: 15px;*/
        font-size: 16px;
        vertical-align: top;
        box-sizing: border-box;
    }

    .col-four:before{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        display: block;
        width: 1px;   
        background-color: #ebecee;
    }

    .col-four ul {
        margin-bottom: 1em;
    }

    .application {
        margin: 0 2px 18px;
        white-space:normal;
    } 

    .application p{
        font-size: 13px;
        line-height: 13px;
        
    }
</style>