@using Kendo.Mvc.Examples.Models
<!DOCTYPE html>
<html>
<head>
    <title>Kendo UI @ViewBag.SuiteTitle Examples</title>
    <link href="@Url.Content("~/Content/shared/suite.css")" rel="stylesheet">
</head>
<body>
    <div id="page">
        <a class="offline-button" href="@(Url.RouteUrl("Default", new { controller = "" }))">Back to all suites</a>

        <ul>
            @foreach (NavigationWidget widget in ViewBag.Navigation)
            {
                if (!widget.ShouldInclude || widget.Items.All(x=>!x.ShouldInclude)) { continue; }
                <li>
                    <h2>@widget.Text</h2>
                    <ul>
                        @foreach (NavigationExample example in widget.Items)
                        {
                            if (!example.ShouldInclude) { continue; }
                            <li><a href='@(Url.Content("~/" + ViewContext.RouteData.DataTokens["area"] + "/" + example.Url))'>@example.Text</a></li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
</body>
</html>
