@using Kendo.Mvc.Examples.Models
<!DOCTYPE html>
<html>
<head>
    <title>Kendo UI @ViewBag.SuiteTitle Examples</title>
    <link href="@Url.Content("~/Content/shared/suite.css")" rel="stylesheet">
</head>
<body>
    <div id="page">
        <a class="offline-button" href="@(Url.RouteUrl("Default", new { controller = "" }))">Back to all suites</a>
        @foreach (string category in ViewBag.Navigation.Keys)
        {
            <h1>@category</h1>
            <ul>
                @foreach (NavigationWidget widget in ViewBag.Navigation[category])
                {
                    if (!widget.ShouldInclude) { continue; }
                    <li>
                        <h2>@widget.Text</h2>
                        <ul>
                            @foreach (NavigationExample example in widget.Items)
                            {
                                if (!example.ShouldInclude) { continue; }
                                <li><a href='@(Url.Content("~/" +
                                        ViewContext.RouteData.DataTokens["area"] + "/" +
                                        ViewContext.RouteData.Values["suite"] + "/" +
                                        example.Url.Replace(".html", "")
                                    ))'>@example.Text</a></li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        }
    </div>

</body>
</html>
