<!DOCTYPE html>
<html>
<head>
    <title>Kendo UI for ASP.NET MVC - Offline Examples</title>
    <link href="@Url.Content("~/Content/shared/suite.min.css")" rel="stylesheet">
</head>
<body>
    <div id="page">
        <h2>KendoUI for ASP.NET MVC</h2>
         <ul id="suites">
             <li class="box">
                <a href="@(Url.RouteUrl("RazorDefault", new { controller = "Suite", suite = "web" }))" class="imgPlate"><img src="@Url.Content("~/Content/shared/demos-web.png")" /></a>
                <h2><a href="@(Url.RouteUrl("RazorDefault", new { controller = "Suite", suite = "web" }))">Web examples</a></h2>
            </li>
             <li class="box">
                <a href="@(Url.RouteUrl("RazorDefault", new { controller = "Suite", suite = "dataviz" }))" class="imgPlate"><img src="@Url.Content("~/Content/shared/demos-dataviz.png")" /></a>
                <h2><a href="@(Url.RouteUrl("RazorDefault", new { controller = "Suite", suite = "dataviz" }))">DataViz examples</a></h2>
            </li>
        </ul>
    </div>
</body>
</html>